{% extends "layout.html"%}

{% block content%}


<div id="app">
    <section class="main-homes">
    
        


        <div id="app">
            <div id="ismain-homes">
            <div class="ck-content"><div><div
            class="home_banner"
            id="bannerSlider"
            data-images="[]"
            data-seconds="5"
            data-slide="no"
            style="background-image: url(static/storage/general/sky.jpg); transition: background 3s"
        >
        
            <div class="topsearch">
                <form id="frmhomesearch" action="{{ url_for('users.searchagent')}}" data-ajax-url="{{ url_for('users.searchagent')}}" method="POST">
                    {{ form.hidden_tag() }}
            <div class="typesearch" id="hometypesearch">
            <a class="active" rel="project">Projects</a>
            <a rel="sale">Sale</a>
            <a rel="rent">Rent</a>
            </div>

            <div class="input-group input-group-lg">

                

            

                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-search"></i></span>
                </div>
                <div class="keyword-input">
                    <input
                        class="form-control"
                       
                        name="searched"
                        type="text"
                        placeholder="Enter Agent Name...."
                        autocomplete="off"
                    >
                    <div class="spinner-icon">
                        <i class="fas fa-spin fa-spinner"></i>
                    </div>
                </div>
                
                
                <div class="location-input">
                    <input
                        class="select-city-state form-control"
                        name="searched"
                        type="hidden"
                        placeholder="City, State"
                        autocomplete="off"
                    >
                    <div class="spinner-icon">
                        <i class="fas fa-spin fa-spinner"></i>
                    </div>
                    <div class="suggestion">

                    </div>
                </div>

                <div class="input-group-append search-button-wrapper">
                    <button class="btn btn-orange" type="submit">Search</button>
                </div>
        
                        
        
                    </div>
                    <div class="listsuggest">
        
                    </div>
                </form>
            </div>
        </div>
        </div>




    <div class="container-fluid w90 padtop30">
        <div class="rowm10">
                            <div class="container-fluid">
                    <div class="row rowm10 list-agency">

                        <!--here-->
                        {% for post in agent %}
                                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="agents-grid">

    <div class="agents-grid-wrap">

        <div class="fr-grid-thumb">
                            <a href="{{ url_for('posts.single_agent',post_id=post.id) }}">
                    <img src="{{url_for('static', filename='img/' + post.image)}}" class="img-fluid mx-auto" alt="Meta Krajcik">
                </a>
                    </div>

        <div class="fr-grid-detail">
            <div class="fr-grid-detail-flex">
                <h5 class="fr-can-name">
                                            <a href="{{ url_for('posts.single_agent',post_id=post.id) }}"> {{ post.name }}</a>
                                    </h5>
            </div>
                            <div class="fr-grid-detail-flex-right">
                    <div class="agent-email"><a href="mailto:{{ post.email }}"><i class="fa fa-envelope"></i></a></div>
                </div>
                    </div>

    </div>

    <div class="fr-grid-info">
        <ul>
                            <li><strong class="d-inline-block me-1">Phone:</strong>&nbsp;<span dir="ltr">{{ post.phone }} </span></li>
            
                            <li><strong class="d-inline-block me-1">Email:</strong>&nbsp;<span dir="ltr"><a href="mailto:{{ post.email }}" class="" data-cfemail="026f63617b2c646770707b42606376782c616d6f">{{ post.email }}</a></span></li>
                    </ul>
    </div>

    <div class="fr-grid-footer">
        <div class="fr-grid-footer-flex">
            <span class="fr-position"><i class="fa fa-home"></i>&nbsp;1 property</span>
        </div>
                    <div class="fr-grid-footer-flex-right">
                <a href="{{ url_for('posts.single_agent',post_id=post.id) }}" class="prt-view" tabindex="0">View</a>
            </div>
            </div>

</div>
</div>

{% endfor %}
<!--here-->



                                                   

                                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="agents-grid">

    <div class="agents-grid-wrap">

        <div class="fr-grid-thumb">
                            <a href="#">
                    <img src="static/storage/accounts/6.jpg" class="img-fluid mx-auto" alt="Faye Sauer">
                </a>
                    </div>

        <div class="fr-grid-detail">
            <div class="fr-grid-detail-flex">
                <h5 class="fr-can-name">
                                            <a href="#">Faye Sauer</a>
                                    </h5>
            </div>
                            <div class="fr-grid-detail-flex-right">
                    <div class="agent-email"><a href="cdn-cgi/l/email-protection.html#a8c2dec9c6cccddadec7dadce8cbc9dbd8cdda86cac1d2"><i class="fa fa-envelope"></i></a></div>
                </div>
                    </div>

    </div>

    <div class="fr-grid-info">
        <ul>
                            <li><strong class="d-inline-block me-1">Phone:</strong>&nbsp;<span dir="ltr">+17578131992</span></li>
            
                            <li><strong class="d-inline-block me-1">Email:</strong>&nbsp;<span dir="ltr"><a href="cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="076d716669636275716875734764667477627529656e7d">[email&#160;protected]</a></span></li>
                    </ul>
    </div>

    <div class="fr-grid-footer">
        <div class="fr-grid-footer-flex">
            <span class="fr-position"><i class="fa fa-home"></i>&nbsp;1 property</span>
        </div>
                    <div class="fr-grid-footer-flex-right">
                <a href="#" class="prt-view" tabindex="0">View</a>
            </div>
            </div>

</div>

                            </div>


                           
                        
                                            </div>
                </div>
                    </div>
    </div>
</section>
<br>
<br>

</div>


{% endblock content%}