{% extends "layout.html"%}

{% block content%}


<div id="app">
    <div class="bgheadproject hidden-xs" style="background: url('static/storage/general/breadcrumb-background.jpg')">
        <div class="description">
            <div class="container-fluid w90">
                <h1 class="text-center">Contact</h1>
                <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumb-item">
                    <a href="{{ url_for('main.index') }}" itemprop="item" title="Home">
                        Home
                        <meta itemprop="name" content="Home" />
                    </a>
                    <meta itemprop="position" content="1" />
                </li>
                                                <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    Contact
                    <meta itemprop="name" content="Contact" />
                    <meta itemprop="position" content="2" />
                </li>
                        </ul>

            </div>
        </div>
    </div>
    <div class=" container  padtop50">
        <div class="row">
            <div class="col-sm-12">
                <div class="scontent">
                    

                    <div class="ck-content"><p><div id="contact">
    <div class="row">
        <div class="col-md-6">
            <div class="wrapper">
                <h2 class="h2">Contact information</h2>
                <div class="contact-main">
                    <p></p>
                    <div
                        class="contact-name"
                        style="text-transform: uppercase"
                    ></div>
                    <div class="contact-address">Address: North Link Building, 10 Admiralty Street, 757695 Singapore
                    </div>
                    <div class="contact-phone">Hotline: +234 8118 006 268</div>
                    <div class="contact-email">Email: <a href="cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="285b49444d684a475c4a444d064b4745">[email&#160;protected]</a></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <form
                class="generic-form"
                action=""
                method="POST"
            >
            {{ form.hidden_tag() }}
                <div class="wrapper">
                    <h2 class="h2">HOW WE CAN HELP YOU?</h2>
                    <input type="hidden" name="_token" value="b8XSHCUVfMLjsbVHhHFwOHXgMOZgN7sJxOa51c3C" autocomplete="off">                    

                    <div class="form-group">
                        {{ form.name.label(class= "form-control-label") }}
                        {% if form.name.errors %}
                            {{ form.name(class= "form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                 {% for error in form.name.errors %}
                                   <span class="alert-danger"> {{ error }} </span>
                                 {% endfor%}
                            </div>
                        {% else%}
                             {{ form.name(class= "form-control form-control-lg") }}
                        {% endif%}
                    </div>

                    <div class="form-group">
                        {{ form.contact_email.label(class= "form-control-label") }}
                        {% if form.contact_email.errors %}
                            {{ form.contact_email(class= "form-control form-control-lg is-invalid") }}
                             <div class="invalid-feedback">
                                  {% for error in form.contact_email.errors%}
                                    <span class="alert-danger"> {{ error }} </span>
                                  {% endfor%}
                             </div>
                         {% else %}
                              {{ form.contact_email(class= "form-control form-control-lg") }}
                         {% endif%}
                    </div>
                    <div class="form-group">
                        {{ form.number.label(class= "form-control-label") }}
                         {% if form.number.errors %}
                             {{ form.number(class= "form-control form-control-lg is-invalid") }}
                             <div class="invalid-feedback">
                                  {% for error in form.number.errors%}
                                     <span class="alert-danger"> {{ error }} </span>
                                  {% endfor%}
                             </div>
                         {% else%}
                              {{ form.number(class= "form-control form-control-lg") }}
                         {% endif%}
                    </div>
                    <div class="form-group">
                        {{ form.message.label(class= "form-control-label") }}
                        {% if form.message.errors %}
                            {{ form.message(class= "form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                 {% for error in form.message.errors%}
                                    <span class="alert-danger"> {{ error }} </span>
                                 {% endfor%}
                            </div>
                        {% else%}
                             {{ form.message(class= "form-control form-control-lg") }}
                        {% endif%}
                    </div>
                                            
                                            
                    

                    <div
                        class="alert alert-success text-success text-left"
                        style="display: none;"
                    >
                        <span></span>
                    </div>
                    <div
                        class="alert alert-danger text-danger text-left"
                        style="display: none;"
                    >
                        <span></span>
                    </div>
                    <br>
                    <div class="form-actions">
                        {{ form.submit( class="col-md-3 col-sm-6 btn-special btn btn-success") }}
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
 </p>

<h3>Directions</h3>

<p><div style="height: 400px; width: 100%; position: relative; text-align: right;">
    <div style="height: 400px; width: 100%; overflow: hidden; background: none!important;">
        <iframe
            src="https://maps.google.com/maps?q=North%20Link%20Building,%2010%20Admiralty%20Street,%20757695%20Singapore%20&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
            width="100%"
            height="500"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
        ></iframe>
    </div>
</div>
</p>

<p> </p></div>

                    
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

</div>


{% endblock content%}

