<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5, user-scalable=1" name="viewport"/>

    <meta name="csrf-token" content="b8XSHCUVfMLjsbVHhHFwOHXgMOZgN7sJxOa51c3C">

        <link href="../fonts.googleapis.com/css27261.css?family=Nunito+Sans:wght@300;600;700;800&amp;display=swap" rel="stylesheet" type="text/css">

    <style>
        :root {
            --primary-color: #6F1D22;
            --primary-color-rgb: rgba(111,29,34, 0.8);
            --primary-color-hover: #063A5D;
            --primary-font: 'Nunito Sans';
        }
    </style>

    <title>Emax-luxury-Homes</title>
<meta name="description" content="Find your favorite homes at Flex Home">
<link rel="canonical" href="{{ url_for('main.index') }}">
<meta property="og:site_name" content="Worldlup">
<meta property="og:title" content="Worldlup">
<meta property="og:description" content="Find your favorite homes at Flex Home">
<meta property="og:url" content="https://worldluxproperties.org">
<meta property="og:type" content="article">
<meta name="twitter:title" content="Worldlup">
<meta name="twitter:description" content="Find your favorite homes at Flex Home">

    <link
        href="static/storage/logo/2.png"
        rel="shortcut icon"
    >




<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "Worldlup",
  "url": "https://worldluxproperties.org"
}
</script>


<script src="https://unpkg.com/htmx.org@1.9.4"></script>



<style>.grecaptcha-badge { visibility: hidden; }</style><link media="all" type="text/css" rel="stylesheet" href="static/vendor/core/plugins/cookie-consent/css/cookie-consentf700.css?v=1.0.1">
<link media="all" type="text/css" rel="stylesheet" href="static/vendor/core/plugins/language/css/language-publicd1f1.css?v=2.2.0">
<link media="all" type="text/css" rel="stylesheet" href="static/vendor/core/core/base/libraries/ckeditor/content-styles.css">
<link media="all" type="text/css" rel="stylesheet" href="static/themes/flex-home/libraries/bootstrap/bootstrap.min.v4.css">
<link media="all" type="text/css" rel="stylesheet" href="static/themes/flex-home/libraries/fontawesome/css/fontawesome.min.css">
<link media="all" type="text/css" rel="stylesheet" href="static/themes/flex-home/libraries/owl-carousel/owl.carousel.min.css">
<link media="all" type="text/css" rel="stylesheet" href="static/themes/flex-home/libraries/owl-carousel/owl.theme.default.css">
<link media="all" type="text/css" rel="stylesheet" href="static/themes/flex-home/css/style8a43.css?v=2.49.3">

<link media="all" type="text/css" rel="stylesheet" href="static/themes/flex-home/libraries/leaflet/leaflet.css">
<link media="all" type="text/css" rel="stylesheet" href="static/themes/flex-home/libraries/magnific/magnific-popup.css">
<link media="all" type="text/css" rel="stylesheet" href="static/themes/flex-home/libraries/jquery-bar-rating/css-stars.css">

<script src="static/themes/flex-home/libraries/jquery.min.js"></script>
<script src="static/themes/flex-home/libraries/bootstrap/popper.min.js"></script>
<script src="static/themes/flex-home/libraries/bootstrap/bootstrap.min.js"></script>
<script src="static/themes/flex-home/libraries/owl-carousel/owl.carousel.min.js"></script>
<script src="static/themes/flex-home/libraries/jquery.matchHeight-min.js"></script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"name":"Home","item":"https:\/\/worldluxproperties.org"},{"@type":"ListItem","position":2,"name":"Home","item":"https:\/\/worldluxproperties.org"}]}</script>

<script type="application/ld+json">{"@context":"https:\/\/schema.org","@type":"Organization","name":"Worldlup","url":"https:\/\/worldluxproperties.org","logo":{"@type":"ImageObject","url":"https:\/\/worldluxproperties.org\/storage\/logo\/world-luxury-2.png"}}</script><link type="application/atom+xml" rel="alternate" title="Properties feed" href="feed/properties">

<link type="application/atom+xml" rel="alternate" title="Properties feed" href="static/feed/properties">
<link
    href="../www.google.com/{{ url_for('main.index') }}"
    rel="preconnect"
>
<link
    href="../www.gstatic.com/{{ url_for('main.index') }}"
    rel="preconnect"
    crossorigin
>


<script>
    window.siteUrl = "{{ url_for('main.index') }}";
</script>

</head>
<body >

<div id="alert-container"></div>
<div class="bravo_topbar d-none d-sm-block">
    <div class="container-fluid w90">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="topbar-left">
                                                                            <div class="top-socials">
                                                                                                                                                    <a href="../facebook.com/{{ url_for('main.index') }}"
                                           title="Facebook" target="_blank">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                                                                                                                                                                        <a href="../twitter.com/{{ url_for('main.index') }}"
                                           title="Twitter" target="_blank">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                                                                                                                                                                        <a href="../youtube.com/{{ url_for('main.index') }}"
                                           title="Youtube" target="_blank">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                                                                                </div>
                                                            <span class="line"></span>
                                                                                                        <a href="cdn-cgi/l/email-protection.html#f98a98959cb99b968d9b959cd79a9694" dir="ltr"><span class="__cf_email__" >info@emax-solution.com</span></a>
                                            </div>
                    <div class="topbar-right">
                                                                                    <ul class="topbar-items">
                                    <li><a href="wishlist.html"><i class="fas fa-heart"></i>&nbsp;Wishlist(<span class="wishlist-count">0</span>)</a></li>
                                </ul>
                            
                                                                                        <div class="language currency-switcher">
                                    <div class="language-switcher-wrapper">
                                        <div class="dropdown d-inline-block">
                                            <button class="btn btn-secondary dropdown-toggle btn-select-language" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                NGN
                                            </button>
                                            <ul class="dropdown-menu language_bar_chooser">
                                                                                                    <li>
                                                        <a href="{{ url_for('main.index') }}"  class="active" ><span>USD</span></a>
                                                    </li>
                                                                                                    <li>
                                                        <a href="{{ url_for('main.index') }}" ><span>EUR</span></a>
                                                    </li>
                                                                                                    <li>
                                                        <a href="{{ url_for('main.index') }}" ><span>VND</span></a>
                                                    </li>
                                          </ul>
                                        </div>
                                    </div>
                                </div>
                                {% if current_user.is_authenticated %}
                                <ul class="topbar-items">
                                  <li class="login-item">
                              <a href="{{ url_for('users.logout') }}"><i class="fas fa-sign-in-alt"></i>&nbsp;Logout</a>
                          </li>
                                                  </ul>

                                

                                {% else %}
                                
                                <ul class="topbar-items">
                                  <li class="login-item">
                              <a href="{{ url_for('users.login') }}"><i class="fas fa-sign-in-alt"></i>&nbsp;Login</a>
                          </li>
                                                  </ul>


                                
                                  {% endif %}                
                                                    
                                                                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<header class="topmenu bg-light">
    <div  id="header-waypoint"  class="main-header">
        <div class="container-fluid w90">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                                                    <a class="navbar-brand" href="{{ url_for('main.index') }}">
                                <img src="static/storage/logo/2.png"
                                     class="logo" height="65" alt="">
                            </a>
                                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="fas fa-bars"></span>
                        </button>

                        <div class="collapse navbar-collapse justify-content-end animation" id="navbarSupportedContent">
                            <div class="main-menu-darken"></div>
                            <div class="main-menu-content">
                                <div class="d-lg-none bg-primary p-2">
                                    <span class="text-white">Menu</span>
                                    <span class="float-right toggle-main-menu-offcanvas text-white">
                                        <i class="far fa-times-circle"></i>
                                    </span>
                                </div>
                                <div class="main-menu-nav d-lg-flex">
                                    <ul  class="navbar-nav justify-content-end menu menu--mobile">
            <li class="menu-item   ">
            <a href="{{ url_for('main.projects') }}" target="_self">
                Projects
            </a>
                    </li>
            <li class="menu-item   ">
            <a href="{{ url_for('main.properties') }}" target="_self">
                Properties
            </a>
                    </li>
            <li class="menu-item   ">
            <a href="{{ url_for('main.agents') }}" target="_self">
                Agents
            </a>
                    </li>
            <li class="menu-item   ">
            <a href="{{ url_for('main.news') }}" target="_self">
                News
            </a>
                    </li>
            <li class="menu-item   ">
            <a href="{{ url_for('main.gallery') }}" target="_self">
                Gallery
            </a>
                    </li>
            <li class="menu-item   ">
            <a href="{{ url_for('main.contact') }}" target="_self">
                Contact
            </a>
           </li>
    </ul>

                                     {% if current_user.email == 'orjiobiajulum@yahoo.com' %}
                                            <a class="btn btn-primary add-property" href="{{url_for('admin.admin1')}}">
                                            <i class="fas fa-plus-circle"></i> Add Property
                                        </a>
                                        {% endif %}

                                    <div class="d-sm-none">
                                        <div>
                                           <ul class="topbar-items d-block">
                                                        <li class="login-item">
                                                            <a href="wishlist.html"><i class="fas fa-heart"></i> Wishlist(<span class="wishlist-count">0</span>)</a>
                                                        </li>
                                                    </ul>
                                                
                                                       <div class="language">
                                                        <div class="language-switcher-wrapper">
                                                            <div class="d-inline-block language-label">
                                                                Currencies:
                                                            </div>
                                                            <div class="dropdown d-inline-block">
                                                                <button class="btn btn-secondary dropdown-toggle btn-select-language" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                                    NGN
                                                                </button>
                                                                <ul class="dropdown-menu language_bar_chooser">
                                                                     <li>
                                                                            <a href="{{ url_for('main.index') }}"  class="active" ><span>USD</span></a>
                                                                        </li>
                                                                           <li>
                                                                            <a href="{{ url_for('main.index') }}" ><span>EUR</span></a>
                                                                        </li>
                                                                           <li>
                                                                            <a href="{{ url_for('main.index') }}" ><span>VND</span></a>
                                                                        </li>
                                                                   </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                        
                                                    {% if current_user.is_authenticated %}
                                                    <ul class="topbar-items d-block">
                                                          <li class="login-item">
                                                            <a href="{{ url_for('users.logout') }}"><i class="fas fa-sign-in-alt"></i>  Logout</a>
                                                        </li>
                                                        </ul>

                                                    {% else %}
                                                    <ul class="topbar-items d-block">
                                                          <li class="login-item">
                                                            <a href="{{ url_for('users.login') }}"><i class="fas fa-sign-in-alt"></i>  Login</a>
                                                        </li>
                                                        </ul>
                                                      {% endif %}
                                                                                                                                    </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                          {% if messages %}
                               {% for category, message in messages %}
                                   <div class="alert alert-{{ category }}">
                                       {{ message }}
                                   </div>
                               {% endfor %}
                          {% endif %}
                        {% endwith %}
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>


  
  <!-- ======= Intro Single ======= -->

   
  

{% block content %}

{% endblock content %}


   <!-- ======= Footer ======= -->
   <footer>
    <br>
    <div class="container-fluid w90">
        <div class="row">
            <div class="col-sm-3">
                                    <p>
                        <a href="{{ url_for('main.index') }}">
                            <img src="static/storage/logo/2.png" style="max-height: 48px" alt="">
                        </a>
                    </p>
                                                    <p><i class="fas fa-map-marker-alt"></i> &nbsp;4th Floor, Mukhtar El Yakub Building Zakariyya Maimalari Street, Central Business District Abuja. FCT 900211 Nigeria</p>
                                                    <p><i class="fas fa-phone-square"></i>&nbsp;<span class="d-inline-block">Hotline: </span>&nbsp;<a href="tel:+234 8118 006 268" dir="ltr">+234 8180 062 968</a></p>
                                                    <p><i class="fas fa-envelope"></i>&nbsp;<span class="d-inline-block">Email: </span>&nbsp;<a href="" dir="ltr"><span>info@emax-solution.com</span></a></p>
                            </div>
            <div class="col-sm-9 padtop10">
                <div class="row">
                    <div class="col-sm-4">
        <div class="menufooter">
                            <h4>About</h4>
                        <ul >
            <li
             class="             current "
            >
            <a
                href="{{ url_for('main.about') }}"
                title="About us"
                            >
                                <span>About us</span>
            </a>
                    </li>
            <li
            >
            <a
                href="{{ url_for('main.contact') }}"
                title="Contact us"
                            >
                                <span>Contact us</span>
            </a>
                    </li>
            <li
            >
            <a
                href="{{ url_for('main.privacy') }}"
                title="Careers"
                            >
                                <span>Privacy Policy</span>
            </a>
                    </li>
            <li
            >
            <a
                href="{{ url_for('main.terms') }}"
                title="Terms &amp; Conditions"
                            >
                                <span>Terms &amp; Conditions</span>
            </a>
                    </li>
    </ul>

        </div>
    </div>
<div class="col-sm-4">
        <div class="menufooter">
                            <h4>More information</h4>
                        <ul >
            <li
            >
            <a
                href="{{ url_for('main.news') }}"
                title="All projects"
                            >
                                <span>Our Offered Services</span>
            </a>
                    </li>
            <li
            >
            <a
                href="{{ url_for('main.news') }}"
                title="All properties"
                            >
                                <span>Financial Guidance</span>
            </a>
                    </li>
            <li
            >
            <a
                href="{{ url_for('main.news') }}"
                title="Houses for sale"
                            >
                                <span>Our Milestones</span>
            </a>
                    </li>
            <li
            >
            <a
                href="{{ url_for('main.news') }}"
                title="Houses for rent"
                            >
                                <span>Our Traction</span>
            </a>
                    </li>
    </ul>

        </div>
    </div>
<div class="col-sm-4">
        <div class="menufooter">
                            <h4>News</h4>
                        <ul >
            <li
            >
            <a
                href="{{ url_for('main.news') }}"
                title="Latest news"
                            >
                                <span>Latest news</span>
            </a>
                    </li>
            <li
            >
            <a
                href="{{ url_for('main.news') }}"
                title="House architecture"
                            >
                                <span>Our Management Team</span>
            </a>
                    </li>
            <li
            >
            <a
                href="{{ url_for('main.news') }}"
                title="House design"
                            >
                                <span>Our Properties</span>
            </a>
                    </li>
            <li
            >
            <a
                href="{{ url_for('main.news') }}"
                title="Building materials"
                            >
                                <span>Building materials</span>
            </a>
                    </li>
    </ul>

        </div>
    </div>

                </div>
            </div>
        </div>
                            <div class="copyright">
                <div class="col-sm-12">
                    <p class="text-center mb-0">
                        ©2023 Emax is Proudly Powered by Botble Team.
                    </p>
                </div>
            </div>
            </div>
</footer>

<script data-cfasync="false" src="static/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
    window.trans = {
        "Price": "Price",
        "Number of rooms": "Number of rooms",
        "Number of rest rooms": "Number of rest rooms",
        "Square": "Square",
        "million": "million",
        "billion": "billion",
        "in": "in",
        "Added to wishlist successfully!": "Added to wishlist successfully!",
        "Removed from wishlist successfully!": "Removed from wishlist successfully!",
        "I care about this property!!!": "I care about this property!!!",
    };
    window.themeUrl = 'public/themes/flex-home/{{ url_for('main.index') }}';
    window.siteUrl = '{{ url_for('main.index') }}';
    window.currentLanguage = 'en';
</script>

<div class="action_footer">
    <a href="#" class="cd-top" ><i class="fas fa-arrow-up"></i></a>
            <a href="tel:18006268" class="text-white" style="font-size: 17px;"><i class="fas fa-phone"></i> <span>  &nbsp;+234 8180 062 168</span></a>
    </div>

    <script src="static/themes/flex-home/libraries/jquery.waypoints.min.js"></script>
<script src="static/themes/flex-home/js/app8a43.js?v=2.49.3"></script>
<script src="static/themes/flex-home/js/wishlist8a43.js?v=2.49.3"></script>
<script src="static/vendor/core/plugins/cookie-consent/js/cookie-consentf700.js?v=1.0.1"></script>
<script src="static/vendor/core/plugins/language/js/language-publicd1f1.js?v=2.2.0"></script>




<script src="static/themes/flex-home/libraries/leaflet/leaflet.js"></script>
<script src="static/themes/flex-home/libraries/magnific/jquery.magnific-popup.min.js"></script>
<script src="static/themes/flex-home/js/property.js"></script>
<script src="static/themes/flex-home/libraries/jquery-bar-rating/jquery.barrating.min.js"></script>
<script src="static/themes/flex-home/js/review.js"></script>







</body>
</html>




