{% extends "layout.html"%}

{% block content%}


<div id="app">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 auth-form-wrapper">
            <div class="card login-form">
                <div class="card-body">
                    <h4 class="text-center">Login</h4>
                    <br>
                    <br>
         
                    <form class="join" action="" method="POST" enctype="multipart/form-data" novalidate>
                        {{ form.hidden_tag() }}
                        <input type="hidden" name="_token" value="b8XSHCUVfMLjsbVHhHFwOHXgMOZgN7sJxOa51c3C" autocomplete="off">                        <div class="form-group">
                           
                            <div class="form-group">  
                                {{ form.email.label(class='form-control-label') }}
                                {% if form.email.errors %}
                                    {{ form.email(class='form-control form-control-lg is-invalid') }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                     {{ form.email(class='form-control form-control-lg') }}
                                {% endif %}
                            </div>
                        <div class="form-group">
                            {{ form.password.label(class='form-control-label') }}
                            {% if form.password.errors %}
                                {{ form.password(class='form-control form-control-lg is-invalid') }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                 {{ form.password(class='form-control form-control-lg') }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label style='padding-left: 20px;'>
                                            {{ form.remember(class="form-check-input") }}
                                            {{ form.remember.label(class="form-check-input-label") }}

                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6 text-md-center">
                                    <a href="{{ url_for('users.reset_request') }}">
                                        Forgot Your Password?
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.submit(class='btn btn-primary btn-full fw6') }}
                            
                        </div>

                                                    <div class="form-group text-center">
                                <p>Don&#039;t have an account? <a href="{{ url_for('users.register') }}" class="d-block d-sm-inline-block text-sm-left text-center">Register a new account</a></p>
                            </div>
                        
                        <div class="text-center">
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

{% endblock content%}



<form class="join" action="" method="POST" enctype="multipart/form-data" novalidate>
    <div class="container-fluid">
        {{ form.hidden_tag() }}
      <div class="row">
      <fieldset class="form-group">
        <div class="form-group">
            {{ form.email.label(class='form-control-label') }}
            {% if form.email.errors %}
                {{ form.email(class='form-control form-control-lg is-invalid') }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                 {{ form.email(class='form-control form-control-lg') }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.password.label(class='form-control-label') }}
            {% if form.password.errors %}
                {{ form.password(class='form-control form-control-lg is-invalid') }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                 {{ form.password(class='form-control form-control-lg') }}
            {% endif %}
        </div>
        <div class="form-check">
            {{ form.remember(class="form-check-input") }}
            {{ form.remember.label(class="form-check-input-label") }}
        </div>
      </fieldset>
    </div>
</div>

<div class="form-group ">
    {{ form.submit(class='btn btn-primary') }}
</div>
<h5 class="text-muted ml-2">
<a  href="{{ url_for('users.reset_request') }}" >Forgot Password?</a>
</h5>
<p>
Don't have an account?  <a href="/register"> Registration > </a>
</p>
</form>
