{% extends "layout.html"%}

{% block content%}


<div id="app">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 auth-form-wrapper">
            <div class="card login-form">
                <div class="card-body">
                    <h4 class="text-center">Login</h4>
                    <br>
                                        <br>
                    <form method="POST" action="https://worldluxproperties.org/login">
                        <input type="hidden" name="_token" value="b8XSHCUVfMLjsbVHhHFwOHXgMOZgN7sJxOa51c3C" autocomplete="off">                        <div class="form-group">
                            <input id="email" type="text"
                                   class="form-control"
                                   placeholder="Email/Username"
                                   name="email" value="" autofocus>
                                                    </div>
                        <div class="form-group">
                            <input id="password" type="password"
                                   class="form-control"
                                   placeholder="Password" name="password">
                                                    </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"
                                                   name="remember" > Remember Me
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6 text-md-center">
                                    <a href="password/request.html">
                                        Forgot Your Password?
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-full fw6">
                                Login
                            </button>
                        </div>

                                                    <div class="form-group text-center">
                                <p>Don&#039;t have an account? <a href="{{ url_for('users.register') }}" class="d-block d-sm-inline-block text-sm-left text-center">Register a new account</a></p>
                            </div>
                        
                        <div class="text-center">
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

{% endblock content%}