{% extends "layout.html"%}

{% block content%}


<div id="app">
    <div class="bgheadproject hidden-xs" style="background: url('static/storage/general/breadcrumb-background.jpg')">
        <div class="description">
            <div class="container-fluid w90">
                <h1 class="text-center">News</h1>
                <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumb-item">
                    <a href="{{ url_for('main.index') }}" itemprop="item" title="Home">
                        Home
                        <meta itemprop="name" content="Home" />
                    </a>
                    <meta itemprop="position" content="1" />
                </li>
                                                <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    News
                    <meta itemprop="name" content="News" />
                    <meta itemprop="position" content="2" />
                </li>
                        </ul>

            </div>
        </div>
    </div>
    <div class=" container  padtop50">
        <div class="row">
            <div class="col-sm-12">
                <div class="scontent">
                    

                    <div class="blog-container">
        <div class="row">


            <!--here-->
            {% for new in news %}
                <div class="col-md-4 col-sm-6 container-grid" style="margin-bottom: 30px;">
                    <div class="grid-in">
                        <div class="grid-shadow">
                            <div class="hourseitem" style="margin-top: 0;">
                                <div class="blii">
                                    <div class="img">
                                        <img
                                            data-src="{{url_for('static', filename='img/' + new.image)}}"
                                            src="{{url_for('static', filename='img/' + new.image)}}"
                                            alt="BCG sets great store by real estate negotiations" class="thumb"
                                            style="border-radius: 0;"></div>
                                    <a href="{{ url_for('posts.single_news') }}" title="BCG sets great store by real estate negotiations" class="linkdetail"></a></div>
                            </div>
                            <div class="grid-h" data-mh="blog-post">
                                <div class="blog-title">
                            <a href="{{ url_for('posts.single_news') }}" title="Private Home Sales Drop 27% In October"><h2> {{ new.title }}</h2></a>
                                    <div class="post-meta">
                                <p class="d-inline-block"><i class="fa fa-calendar"></i> {{ new.date_created.strftime('%d-%m-%Y')}} in </p>
                                - <p class="d-inline-block"><i class="fa fa-eye"></i> 634</p>
                            </div>

                                </div>
                                <div class="blog-excerpt">
                                    <p>{{ new.description [0:300]}} <b>........ </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}


<!--endshere-->


                            <div class="col-md-4 col-sm-6 container-grid" style="margin-bottom: 30px;">
                    <div class="grid-in">
                        <div class="grid-shadow">
                            <div class="hourseitem" style="margin-top: 0;">
                                <div class="blii">
                                    <div class="img">
                                        <img
                                            data-src="static/storage/properties/2-2-410x270.jpg"
                                            src="static/storage/properties/2-2-410x270.jpg"
                                            alt="Private Home Sales Drop 27% In October" class="thumb"
                                            style="border-radius: 0;"></div>
                                    <a href="{{ url_for('posts.single_news') }}" title="Private Home Sales Drop 27% In October" class="linkdetail"></a></div>
                            </div>
                            <div class="grid-h" data-mh="blog-post">
                                <div class="blog-title">
                                    <a href="{{ url_for('posts.single_news') }}" title="Private Home Sales Drop 27% In October"><h2>Private Home Sales Drop 27% In October</h2></a>
                                    <div class="post-meta">
    <p class="d-inline-block"><i class="fa fa-calendar"></i> Nov 19, 2023 in </p>
    - <p class="d-inline-block"><i class="fa fa-eye"></i> 1,532</p>
</div>

                                </div>
                                <div class="blog-excerpt">
                                    <p>New private home sales in Singapore fell 27% in October from September, reported Channel News Asia, based on the data released by the Urban Redevelopment Authority (URA).
According to URA data, developers only sold 928 units in October (955 units including executive condominiums), compared to 1,270 units from the previous...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            <div class="col-md-4 col-sm-6 container-grid" style="margin-bottom: 30px;">
                    <div class="grid-in">
                        <div class="grid-shadow">
                            <div class="hourseitem" style="margin-top: 0;">
                                <div class="blii">
                                    <div class="img">
                                        <img
                                            data-src="static/storage/properties/6-1-410x270.jpg"
                                            src="static/storage/properties/6-1-410x270.jpg"
                                            alt="Singapore Overtakes Hong Kong In Terms Of Property Investment Prospects" class="thumb"
                                            style="border-radius: 0;"></div>
                                    <a href="{{ url_for('posts.single_news') }}" title="Singapore Overtakes Hong Kong In Terms Of Property Investment Prospects" class="linkdetail"></a></div>
                            </div>
                            <div class="grid-h" data-mh="blog-post">
                                <div class="blog-title">
                                    <a href="{{ url_for('posts.single_news') }}" title="Singapore Overtakes Hong Kong In Terms Of Property Investment Prospects"><h2>Singapore Overtakes Hong Kong In Terms Of Property Investment Prospects</h2></a>
                                    <div class="post-meta">
    <p class="d-inline-block"><i class="fa fa-calendar"></i> Nov 19, 2023 in </p>
    - <p class="d-inline-block"><i class="fa fa-eye"></i> 411</p>
</div>

                                </div>
                                <div class="blog-excerpt">
                                    <p>Singapore now claims the top spot for real estate investment prospects in terms of price increases in 2020. Hong Kong, rocked by months of violent political protests, has fallen from 14th place to the bottom of the pile in 2019.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            <div class="col-md-4 col-sm-6 container-grid" style="margin-bottom: 30px;">
                    <div class="grid-in">
                        <div class="grid-shadow">
                            <div class="hourseitem" style="margin-top: 0;">
                                <div class="blii">
                                    <div class="img">
                                        <img
                                            data-src="static/storage/properties/download-410x270.jpg"
                                            src="static/storage/properties/download-410x270.jpg"
                                            alt="S. Korea’s Big Investors Flocking to Overseas Real Estate" class="thumb"
                                            style="border-radius: 0;"></div>
                                    <a href="{{ url_for('posts.single_news') }}" title="S. Korea’s Big Investors Flocking to Overseas Real Estate" class="linkdetail"></a></div>
                            </div>
                            <div class="grid-h" data-mh="blog-post">
                                <div class="blog-title">
                                    <a href="{{ url_for('posts.single_news') }}" title="S. Korea’s Big Investors Flocking to Overseas Real Estate"><h2>S. Korea’s Big Investors Flocking to Overseas Real Estate</h2></a>
                                    <div class="post-meta">
    <p class="d-inline-block"><i class="fa fa-calendar"></i> Nov 19, 2023 in </p>
    - <p class="d-inline-block"><i class="fa fa-eye"></i> 413</p>
</div>

                                </div>
                                <div class="blog-excerpt">
                                    <p>An increasing number of South Korean investors are getting interested in real estate in foreign countries, especially the United States and Japan where regulations are relatively lax and property values are stable.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            <div class="col-md-4 col-sm-6 container-grid" style="margin-bottom: 30px;">
                    <div class="grid-in">
                        <div class="grid-shadow">
                            <div class="hourseitem" style="margin-top: 0;">
                                <div class="blii">
                                    <div class="img">
                                        <img
                                            data-src="static/storage/news/1-410x270.jpg"
                                            src="static/storage/news/1-410x270.jpg"
                                            alt="The Top 2020 Handbag Trends to Know" class="thumb"
                                            style="border-radius: 0;"></div>
                                    <a href="{{ url_for('posts.single_news') }}" title="The Top 2020 Handbag Trends to Know" class="linkdetail"></a></div>
                            </div>
                            <div class="grid-h" data-mh="blog-post">
                                <div class="blog-title">
                                    <a href="{{ url_for('posts.single_news') }}" title="The Top 2020 Handbag Trends to Know"><h2>The Top 2020 Handbag Trends to Know</h2></a>
                                    <div class="post-meta">
    <p class="d-inline-block"><i class="fa fa-calendar"></i> Nov 19, 2023 in             <a href="{{ url_for('posts.single_news') }}l">Building materials</a>
                    </p>
    - <p class="d-inline-block"><i class="fa fa-eye"></i> 2,352</p>
</div>

                                </div>
                                <div class="blog-excerpt">
                                    <p>Voluptatem natus id saepe voluptatem illum. Porro delectus velit saepe laboriosam sed rerum. Sunt tempora quis minima ipsa incidunt sit. Ea autem dolor ab id voluptates.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            <div class="col-md-4 col-sm-6 container-grid" style="margin-bottom: 30px;">
                    <div class="grid-in">
                        <div class="grid-shadow">
                            <div class="hourseitem" style="margin-top: 0;">
                                <div class="blii">
                                    <div class="img">
                                        <img
                                            data-src="static/storage/news/2-410x270.jpg"
                                            src="static/storage/news/2-410x270.jpg"
                                            alt="Top Search Engine Optimization Strategies!" class="thumb"
                                            style="border-radius: 0;"></div>
                                    <a href="{{ url_for('posts.single_news') }}" title="Top Search Engine Optimization Strategies!" class="linkdetail"></a></div>
                            </div>
                            <div class="grid-h" data-mh="blog-post">
                                <div class="blog-title">
                                    <a href="{{ url_for('posts.single_news') }}" title="Top Search Engine Optimization Strategies!"><h2>Top Search Engine Optimization Strategies!</h2></a>
                                    <div class="post-meta">
    <p class="d-inline-block"><i class="fa fa-calendar"></i> Nov 19, 2023 in             <a href="{{ url_for('posts.single_news') }}">House architecture</a>
                    </p>
    - <p class="d-inline-block"><i class="fa fa-eye"></i> 134</p>
</div>

                                </div>
                                <div class="blog-excerpt">
                                    <p>Quaerat commodi repellat rerum rerum ipsum ipsam. At dolor qui quisquam. Sint velit quod sed aut quis libero voluptatem magnam. Corrupti velit eligendi aut consequatur voluptas.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            <div class="col-md-4 col-sm-6 container-grid" style="margin-bottom: 30px;">
                    <div class="grid-in">
                        <div class="grid-shadow">
                            <div class="hourseitem" style="margin-top: 0;">
                                <div class="blii">
                                    <div class="img">
                                        <img
                                            data-src="static/storage/news/3-410x270.jpg"
                                            src="static/storage/news/3-410x270.jpg"
                                            alt="Which Company Would You Choose?" class="thumb"
                                            style="border-radius: 0;"></div>
                                    <a href="{{ url_for('posts.single_news') }}" title="Which Company Would You Choose?" class="linkdetail"></a></div>
                            </div>
                            <div class="grid-h" data-mh="blog-post">
                                <div class="blog-title">
                                    <a href="{{ url_for('posts.single_news') }}" title="Which Company Would You Choose?"><h2>Which Company Would You Choose?</h2></a>
                                    <div class="post-meta">
    <p class="d-inline-block"><i class="fa fa-calendar"></i> Nov 19, 2023 in             <a href="{{ url_for('posts.single_news') }}">House architecture</a>
                    </p>
    - <p class="d-inline-block"><i class="fa fa-eye"></i> 2,129</p>
</div>

                                </div>
                                <div class="blog-excerpt">
                                    <p>Porro est doloremque nulla consequatur nobis cumque recusandae repudiandae. Qui sunt harum sit et. Facilis et impedit velit quasi autem enim aut.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            <div class="col-md-4 col-sm-6 container-grid" style="margin-bottom: 30px;">
                    <div class="grid-in">
                        <div class="grid-shadow">
                            <div class="hourseitem" style="margin-top: 0;">
                                <div class="blii">
                                    <div class="img">
                                        <img
                                            data-src="static/storage/news/4-410x270.jpg"
                                            src="static/storage/news/4-410x270.jpg"
                                            alt="Used Car Dealer Sales Tricks Exposed" class="thumb"
                                            style="border-radius: 0;"></div>
                                    <a href="{{ url_for('posts.single_news') }}" title="Used Car Dealer Sales Tricks Exposed" class="linkdetail"></a></div>
                            </div>
                            <div class="grid-h" data-mh="blog-post">
                                <div class="blog-title">
                                    <a href="{{ url_for('posts.single_news') }}" title="Used Car Dealer Sales Tricks Exposed"><h2>Used Car Dealer Sales Tricks Exposed</h2></a>
                                    <div class="post-meta">
    <p class="d-inline-block"><i class="fa fa-calendar"></i> Nov 19, 2023 in             <a href="{{ url_for('posts.single_news') }}">News</a>
                    </p>
    - <p class="d-inline-block"><i class="fa fa-eye"></i> 1,321</p>
</div>

                                </div>
                                <div class="blog-excerpt">
                                    <p>Aut ut ipsum qui et accusantium ea nisi. Rerum laborum impedit voluptatem nemo. Eum illo qui earum aut non quia quia. Voluptates aut et earum vero et consequatur.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            <div class="col-md-4 col-sm-6 container-grid" style="margin-bottom: 30px;">
                    <div class="grid-in">
                        <div class="grid-shadow">
                            <div class="hourseitem" style="margin-top: 0;">
                                <div class="blii">
                                    <div class="img">
                                        <img
                                            data-src="static/storage/news/5-410x270.jpg"
                                            src="static/storage/news/5-410x270.jpg"
                                            alt="20 Ways To Sell Your Product Faster" class="thumb"
                                            style="border-radius: 0;"></div>
                                    <a href="{{ url_for('posts.single_news') }}" title="20 Ways To Sell Your Product Faster" class="linkdetail"></a></div>
                            </div>
                            <div class="grid-h" data-mh="blog-post">
                                <div class="blog-title">
                                    <a href="{{ url_for('posts.single_news') }}" title="20 Ways To Sell Your Product Faster"><h2>20 Ways To Sell Your Product Faster</h2></a>
                                    <div class="post-meta">
    <p class="d-inline-block"><i class="fa fa-calendar"></i> Nov 19, 2023 in             <a href="{{ url_for('posts.single_news') }}">House design</a>
                    </p>
    - <p class="d-inline-block"><i class="fa fa-eye"></i> 1,497</p>
</div>

                                </div>
                                <div class="blog-excerpt">
                                    <p>In in odit consectetur repellendus. Dolor sit suscipit ipsum eligendi. Velit et autem id et autem. Non aut modi consequatur sunt incidunt et.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            <div class="col-md-4 col-sm-6 container-grid" style="margin-bottom: 30px;">
                    <div class="grid-in">
                        <div class="grid-shadow">
                            <div class="hourseitem" style="margin-top: 0;">
                                <div class="blii">
                                    <div class="img">
                                        <img
                                            data-src="static/storage/news/6-410x270.jpg"
                                            src="static/storage/news/6-410x270.jpg"
                                            alt="The Secrets Of Rich And Famous Writers" class="thumb"
                                            style="border-radius: 0;"></div>
                                    <a href="{{ url_for('posts.single_news') }}" title="The Secrets Of Rich And Famous Writers" class="linkdetail"></a></div>
                            </div>
                            <div class="grid-h" data-mh="blog-post">
                                <div class="blog-title">
                                    <a href="{{ url_for('posts.single_news') }}" title="The Secrets Of Rich And Famous Writers"><h2>The Secrets Of Rich And Famous Writers</h2></a>
                                    <div class="post-meta">
    <p class="d-inline-block"><i class="fa fa-calendar"></i> Nov 19, 2023 in             <a href="{{ url_for('posts.single_news') }}">House design</a>
                    </p>
    - <p class="d-inline-block"><i class="fa fa-eye"></i> 2,248</p>
</div>

                                </div>
                                <div class="blog-excerpt">
                                    <p>Exercitationem quis nobis reprehenderit consequatur non aliquam. Sit aut aut sunt dolore in eum. Perspiciatis rerum at occaecati. Tempora nisi fugiat quaerat delectus deserunt ut.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            <div class="col-md-4 col-sm-6 container-grid" style="margin-bottom: 30px;">
                    <div class="grid-in">
                        <div class="grid-shadow">
                            <div class="hourseitem" style="margin-top: 0;">
                                <div class="blii">
                                    <div class="img">
                                        <img
                                            data-src="static/storage/news/7-410x270.jpg"
                                            src="static/storage/news/7-410x270.jpg"
                                            alt="Imagine Losing 20 Pounds In 14 Days!" class="thumb"
                                            style="border-radius: 0;"></div>
                                    <a href="{{ url_for('posts.single_news') }}" title="Imagine Losing 20 Pounds In 14 Days!" class="linkdetail"></a></div>
                            </div>
                            <div class="grid-h" data-mh="blog-post">
                                <div class="blog-title">
                                    <a href="{{ url_for('posts.single_news') }}" title="Imagine Losing 20 Pounds In 14 Days!"><h2>Imagine Losing 20 Pounds In 14 Days!</h2></a>
                                    <div class="post-meta">
    <p class="d-inline-block"><i class="fa fa-calendar"></i> Nov 19, 2023 in             <a href="{{ url_for('posts.single_news') }}">Building materials</a>
                    </p>
    - <p class="d-inline-block"><i class="fa fa-eye"></i> 345</p>
</div>

                                </div>
                                <div class="blog-excerpt">
                                    <p>Tempora sed in fuga rerum. Vero unde ipsam soluta culpa vel. Eligendi earum illum officiis et. Aut odio ut at laborum eum fugiat voluptatum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            <div class="col-md-4 col-sm-6 container-grid" style="margin-bottom: 30px;">
                    <div class="grid-in">
                        <div class="grid-shadow">
                            <div class="hourseitem" style="margin-top: 0;">
                                <div class="blii">
                                    <div class="img">
                                        <img
                                            data-src="static/storage/news/8-410x270.jpg"
                                            src="static/storage/news/8-410x270.jpg"
                                            alt="Are You Still Using That Slow, Old Typewriter?" class="thumb"
                                            style="border-radius: 0;"></div>
                                    <a href="{{ url_for('posts.single_news') }}" title="Are You Still Using That Slow, Old Typewriter?" class="linkdetail"></a></div>
                            </div>
                            <div class="grid-h" data-mh="blog-post">
                                <div class="blog-title">
                                    <a href="{{ url_for('posts.single_news') }}" title="Are You Still Using That Slow, Old Typewriter?"><h2>Are You Still Using That Slow, Old Typewriter?</h2></a>
                                    <div class="post-meta">
    <p class="d-inline-block"><i class="fa fa-calendar"></i> Nov 19, 2023 in             <a href="{{ url_for('posts.single_news') }}">Building materials</a>
                    </p>
    - <p class="d-inline-block"><i class="fa fa-eye"></i> 1,800</p>
</div>

                                </div>
                                <div class="blog-excerpt">
                                    <p>Doloremque eligendi aut neque. Velit repellat assumenda rerum dolorum sunt sed magnam. Dolor voluptatibus iste rerum sit aliquam sed velit. Amet sequi reiciendis quia voluptate libero.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
    </div>
    <br>
    <div class="colm10 col-sm-12">
        <nav class="d-flex justify-content-center pt-3">
            <nav>
        <ul class="pagination">
            
                            <li class="page-item disabled" aria-disabled="true" aria-label="&laquo; Previous">
                    <span class="page-link" aria-hidden="true">&lsaquo;</span>
                </li>
            
            
                            
                
                
                                                                                        <li class="page-item active" aria-current="page"><span class="page-link">1</span></li>
                                                                                                <li class="page-item"><a class="page-link" href="news4658.html?page=2">2</a></li>
                                                                        
            
                            <li class="page-item">
                    <a class="page-link" href="news4658.html?page=2" rel="next" aria-label="Next &raquo;">&rsaquo;</a>
                </li>
                    </ul>
    </nav>

        </nav>
    </div>


                    
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

</div>

{% endblock content%}