{% extends "layout.html"%}

{% block content%}


<div id="app">
    <div class="bgheadproject hidden-xs" style="background: url('static/storage/general/breadcrumb-background.jpg')">
        <div class="description">
            <div class="container-fluid w90">
                <h1 class="text-center">News</h1>
                <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumb-item">
                    <a href="{{ url_for('main.index') }}" itemprop="item" title="Home">
                        Home
                        <meta itemprop="name" content="Home" />
                    </a>
                    <meta itemprop="position" content="1" />
                </li>
                                                <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    News
                    <meta itemprop="name" content="News" />
                    <meta itemprop="position" content="2" />
                </li>
                        </ul>

            </div>
        </div>
    </div>

    
    <div class=" container  padtop50">
        <div class="row">
            <div class="col-sm-12">
                <div class="scontent">
                    

                    <div class="blog-container">
        <div class="row">


            <!--here-->
            {% for new in news %}
                <div class="col-md-4 col-sm-6 container-grid" style="margin-bottom: 30px;">
                    <div class="grid-in">
                        <div class="grid-shadow">
                            <div class="hourseitem" style="margin-top: 0;">
                                <div class="blii">
                                    <div class="img">
                                        <img
                                            data-src="{{url_for('static', filename='img/' + new.image)}}"
                                            src="{{url_for('static', filename='img/' + new.image)}}"
                                            alt="BCG sets great store by real estate negotiations" class="thumb"
                                            style="border-radius: 0;"></div>
                                    <a href="{{ url_for('posts.single_news',new_id=new.id) }}" title="BCG sets great store by real estate negotiations" class="linkdetail"></a></div>
                            </div>
                            <div class="grid-h" data-mh="blog-post">
                                <div class="blog-title">
                            <a href="{{ url_for('posts.single_news',new_id=new.id) }}" title="Private Home Sales Drop 27% In October"><h2> {{ new.title }}</h2></a>
                                    <div class="post-meta">
                                <p class="d-inline-block"><i class="fa fa-calendar"></i> {{ new.date_created.strftime('%d-%m-%Y')}} in </p>
                                - <p class="d-inline-block"><i class="fa fa-eye"></i> 634</p>
                            </div>

                                </div>
                                <div class="blog-excerpt">
                                    <p>{{ new.description [0:300]}} <b>........ </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}


<!--endshere-->

                
      </div>
    </div>
    <br>
    <div class="colm10 col-sm-12">
        <nav class="d-flex justify-content-center pt-3">
            <nav>
        <ul class="pagination">
            
                            <li class="page-item disabled" aria-disabled="true" aria-label="&laquo; Previous">
                    <span class="page-link" aria-hidden="true">&lsaquo;</span>
                </li>
            
            
                            
                
                
                                                                                        <li class="page-item active" aria-current="page"><span class="page-link">1</span></li>
                                                                                                <li class="page-item"><a class="page-link" href="news4658.html?page=2">2</a></li>
                                                                        
            
                            <li class="page-item">
                    <a class="page-link" href="news4658.html?page=2" rel="next" aria-label="Next &raquo;">&rsaquo;</a>
                </li>
                    </ul>
    </nav>

        </nav>
    </div>


                    
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

</div>

{% endblock content%}