{% extends "layout.html"%}

{% block content%}


<div id="app">
    <div class="bgheadproject hidden-xs" style="background: url('storage/general/breadcrumb-background.jpg')">
        <div class="description">
            <div class="container-fluid w90">
                <h1 class="text-center">News</h1>
                <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumb-item">
                    <a href="index.html" itemprop="item" title="Home">
                        Home
                        <meta itemprop="name" content="Home" />
                    </a>
                    <meta itemprop="position" content="1" />
                </li>
                                                <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    News
                    <meta itemprop="name" content="News" />
                    <meta itemprop="position" content="2" />
                </li>
                        </ul>

            </div>
        </div>
    </div>
    <div class=" container  padtop50">
        <div class="row">
            <div class="col-sm-12">
                <div class="scontent">
                    

                    <div class="blog-container">
        <div class="row">
                            <div class="col-md-4 col-sm-6 container-grid" style="margin-bottom: 30px;">
                    <div class="grid-in">
                        <div class="grid-shadow">
                            <div class="hourseitem" style="margin-top: 0;">
                                <div class="blii">
                                    <div class="img">
                                        <img
                                            data-src="storage/news/9-410x270.jpg"
                                            src="storage/news/9-410x270.jpg"
                                            alt="A Skin Cream That’s Proven To Work" class="thumb"
                                            style="border-radius: 0;"></div>
                                    <a href="news/a-skin-cream-thats-proven-to-work.html" title="A Skin Cream That’s Proven To Work" class="linkdetail"></a></div>
                            </div>
                            <div class="grid-h" data-mh="blog-post">
                                <div class="blog-title">
                                    <a href="news/a-skin-cream-thats-proven-to-work.html" title="A Skin Cream That’s Proven To Work"><h2>A Skin Cream That’s Proven To Work</h2></a>
                                    <div class="post-meta">
    <p class="d-inline-block"><i class="fa fa-calendar"></i> Nov 19, 2023 in             <a href="news/house-architecture.html">House architecture</a>
                    </p>
    - <p class="d-inline-block"><i class="fa fa-eye"></i> 2,076</p>
</div>

                                </div>
                                <div class="blog-excerpt">
                                    <p>Doloremque quidem iste facilis eius. Quia qui quos ut porro impedit repudiandae. Est autem mollitia natus delectus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            <div class="col-md-4 col-sm-6 container-grid" style="margin-bottom: 30px;">
                    <div class="grid-in">
                        <div class="grid-shadow">
                            <div class="hourseitem" style="margin-top: 0;">
                                <div class="blii">
                                    <div class="img">
                                        <img
                                            data-src="storage/news/10-410x270.jpg"
                                            src="storage/news/10-410x270.jpg"
                                            alt="10 Reasons To Start Your Own, Profitable Website!" class="thumb"
                                            style="border-radius: 0;"></div>
                                    <a href="news/10-reasons-to-start-your-own-profitable-website.html" title="10 Reasons To Start Your Own, Profitable Website!" class="linkdetail"></a></div>
                            </div>
                            <div class="grid-h" data-mh="blog-post">
                                <div class="blog-title">
                                    <a href="news/10-reasons-to-start-your-own-profitable-website.html" title="10 Reasons To Start Your Own, Profitable Website!"><h2>10 Reasons To Start Your Own, Profitable Website!</h2></a>
                                    <div class="post-meta">
    <p class="d-inline-block"><i class="fa fa-calendar"></i> Nov 19, 2023 in             <a href="news/house-architecture.html">House architecture</a>
                    </p>
    - <p class="d-inline-block"><i class="fa fa-eye"></i> 1,705</p>
</div>

                                </div>
                                <div class="blog-excerpt">
                                    <p>Dolorum esse nemo et molestiae cum veritatis sed. Quod perferendis sapiente ab dignissimos dolore odio incidunt. Et qui vero accusamus fugit similique.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            <div class="col-md-4 col-sm-6 container-grid" style="margin-bottom: 30px;">
                    <div class="grid-in">
                        <div class="grid-shadow">
                            <div class="hourseitem" style="margin-top: 0;">
                                <div class="blii">
                                    <div class="img">
                                        <img
                                            data-src="storage/news/11-410x270.jpg"
                                            src="storage/news/11-410x270.jpg"
                                            alt="Simple Ways To Reduce Your Unwanted Wrinkles!" class="thumb"
                                            style="border-radius: 0;"></div>
                                    <a href="news/simple-ways-to-reduce-your-unwanted-wrinkles.html" title="Simple Ways To Reduce Your Unwanted Wrinkles!" class="linkdetail"></a></div>
                            </div>
                            <div class="grid-h" data-mh="blog-post">
                                <div class="blog-title">
                                    <a href="news/simple-ways-to-reduce-your-unwanted-wrinkles.html" title="Simple Ways To Reduce Your Unwanted Wrinkles!"><h2>Simple Ways To Reduce Your Unwanted Wrinkles!</h2></a>
                                    <div class="post-meta">
    <p class="d-inline-block"><i class="fa fa-calendar"></i> Nov 19, 2023 in             <a href="news/house-design.html">House design</a>
                    </p>
    - <p class="d-inline-block"><i class="fa fa-eye"></i> 1,479</p>
</div>

                                </div>
                                <div class="blog-excerpt">
                                    <p>Neque ad sed eum incidunt dicta et. Magnam aut fugiat repellat rerum ullam tenetur maiores.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            <div class="col-md-4 col-sm-6 container-grid" style="margin-bottom: 30px;">
                    <div class="grid-in">
                        <div class="grid-shadow">
                            <div class="hourseitem" style="margin-top: 0;">
                                <div class="blii">
                                    <div class="img">
                                        <img
                                            data-src="storage/news/12-410x270.jpg"
                                            src="storage/news/12-410x270.jpg"
                                            alt="Apple iMac with Retina 5K display review" class="thumb"
                                            style="border-radius: 0;"></div>
                                    <a href="news/apple-imac-with-retina-5k-display-review.html" title="Apple iMac with Retina 5K display review" class="linkdetail"></a></div>
                            </div>
                            <div class="grid-h" data-mh="blog-post">
                                <div class="blog-title">
                                    <a href="news/apple-imac-with-retina-5k-display-review.html" title="Apple iMac with Retina 5K display review"><h2>Apple iMac with Retina 5K display review</h2></a>
                                    <div class="post-meta">
    <p class="d-inline-block"><i class="fa fa-calendar"></i> Nov 19, 2023 in             <a href="news/building-materials.html">Building materials</a>
                    </p>
    - <p class="d-inline-block"><i class="fa fa-eye"></i> 1,990</p>
</div>

                                </div>
                                <div class="blog-excerpt">
                                    <p>Illo veniam est voluptatum. Exercitationem porro qui sapiente dignissimos sunt. Modi et amet commodi est expedita ut. Qui possimus omnis qui repellendus quibusdam officiis.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            <div class="col-md-4 col-sm-6 container-grid" style="margin-bottom: 30px;">
                    <div class="grid-in">
                        <div class="grid-shadow">
                            <div class="hourseitem" style="margin-top: 0;">
                                <div class="blii">
                                    <div class="img">
                                        <img
                                            data-src="storage/news/13-410x270.jpg"
                                            src="storage/news/13-410x270.jpg"
                                            alt="10,000 Web Site Visitors In One Month:Guaranteed" class="thumb"
                                            style="border-radius: 0;"></div>
                                    <a href="news/10000-web-site-visitors-in-one-monthguaranteed.html" title="10,000 Web Site Visitors In One Month:Guaranteed" class="linkdetail"></a></div>
                            </div>
                            <div class="grid-h" data-mh="blog-post">
                                <div class="blog-title">
                                    <a href="news/10000-web-site-visitors-in-one-monthguaranteed.html" title="10,000 Web Site Visitors In One Month:Guaranteed"><h2>10,000 Web Site Visitors In One Month:Guaranteed</h2></a>
                                    <div class="post-meta">
    <p class="d-inline-block"><i class="fa fa-calendar"></i> Nov 19, 2023 in             <a href="news/house-design.html">House design</a>
                    </p>
    - <p class="d-inline-block"><i class="fa fa-eye"></i> 231</p>
</div>

                                </div>
                                <div class="blog-excerpt">
                                    <p>Sint ut corporis nulla ipsum et. Eius velit omnis repudiandae doloribus rerum expedita incidunt reiciendis. Laudantium ut illum vitae molestiae quaerat dolor voluptate.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            <div class="col-md-4 col-sm-6 container-grid" style="margin-bottom: 30px;">
                    <div class="grid-in">
                        <div class="grid-shadow">
                            <div class="hourseitem" style="margin-top: 0;">
                                <div class="blii">
                                    <div class="img">
                                        <img
                                            data-src="storage/news/14-410x270.jpg"
                                            src="storage/news/14-410x270.jpg"
                                            alt="Unlock The Secrets Of Selling High Ticket Items" class="thumb"
                                            style="border-radius: 0;"></div>
                                    <a href="news/unlock-the-secrets-of-selling-high-ticket-items.html" title="Unlock The Secrets Of Selling High Ticket Items" class="linkdetail"></a></div>
                            </div>
                            <div class="grid-h" data-mh="blog-post">
                                <div class="blog-title">
                                    <a href="news/unlock-the-secrets-of-selling-high-ticket-items.html" title="Unlock The Secrets Of Selling High Ticket Items"><h2>Unlock The Secrets Of Selling High Ticket Items</h2></a>
                                    <div class="post-meta">
    <p class="d-inline-block"><i class="fa fa-calendar"></i> Nov 19, 2023 in             <a href="news/house-design.html">House design</a>
                    </p>
    - <p class="d-inline-block"><i class="fa fa-eye"></i> 2,335</p>
</div>

                                </div>
                                <div class="blog-excerpt">
                                    <p>Sunt in et qui dolorem. Architecto qui ipsam cupiditate rerum. Eaque consequatur placeat et.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            <div class="col-md-4 col-sm-6 container-grid" style="margin-bottom: 30px;">
                    <div class="grid-in">
                        <div class="grid-shadow">
                            <div class="hourseitem" style="margin-top: 0;">
                                <div class="blii">
                                    <div class="img">
                                        <img
                                            data-src="storage/news/15-410x270.jpg"
                                            src="storage/news/15-410x270.jpg"
                                            alt="4 Expert Tips On How To Choose The Right Men’s Wallet" class="thumb"
                                            style="border-radius: 0;"></div>
                                    <a href="news/4-expert-tips-on-how-to-choose-the-right-mens-wallet.html" title="4 Expert Tips On How To Choose The Right Men’s Wallet" class="linkdetail"></a></div>
                            </div>
                            <div class="grid-h" data-mh="blog-post">
                                <div class="blog-title">
                                    <a href="news/4-expert-tips-on-how-to-choose-the-right-mens-wallet.html" title="4 Expert Tips On How To Choose The Right Men’s Wallet"><h2>4 Expert Tips On How To Choose The Right Men’s Wallet</h2></a>
                                    <div class="post-meta">
    <p class="d-inline-block"><i class="fa fa-calendar"></i> Nov 19, 2023 in             <a href="news/category-news.html">News</a>
                    </p>
    - <p class="d-inline-block"><i class="fa fa-eye"></i> 687</p>
</div>

                                </div>
                                <div class="blog-excerpt">
                                    <p>Minima fuga voluptas nesciunt numquam laudantium adipisci minus. Nostrum enim qui repellat fuga recusandae. Repellat exercitationem ut similique aut. Nam et est est omnis ut ea omnis perferendis.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            <div class="col-md-4 col-sm-6 container-grid" style="margin-bottom: 30px;">
                    <div class="grid-in">
                        <div class="grid-shadow">
                            <div class="hourseitem" style="margin-top: 0;">
                                <div class="blii">
                                    <div class="img">
                                        <img
                                            data-src="storage/news/16-410x270.jpg"
                                            src="storage/news/16-410x270.jpg"
                                            alt="Sexy Clutches: How to Buy &amp; Wear a Designer Clutch Bag" class="thumb"
                                            style="border-radius: 0;"></div>
                                    <a href="news/sexy-clutches-how-to-buy-wear-a-designer-clutch-bag.html" title="Sexy Clutches: How to Buy &amp; Wear a Designer Clutch Bag" class="linkdetail"></a></div>
                            </div>
                            <div class="grid-h" data-mh="blog-post">
                                <div class="blog-title">
                                    <a href="news/sexy-clutches-how-to-buy-wear-a-designer-clutch-bag.html" title="Sexy Clutches: How to Buy &amp; Wear a Designer Clutch Bag"><h2>Sexy Clutches: How to Buy &amp; Wear a Designer Clutch Bag</h2></a>
                                    <div class="post-meta">
    <p class="d-inline-block"><i class="fa fa-calendar"></i> Nov 19, 2023 in             <a href="news/house-design.html">House design</a>
                    </p>
    - <p class="d-inline-block"><i class="fa fa-eye"></i> 743</p>
</div>

                                </div>
                                <div class="blog-excerpt">
                                    <p>Dolorem et quisquam et libero et tempore. Nemo molestiae et in eum ea pariatur. Tempore voluptatem sed velit vitae odio ea.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
    </div>
    <br>
    <div class="colm10 col-sm-12">
        <nav class="d-flex justify-content-center pt-3">
            <nav>
        <ul class="pagination">
            
                            <li class="page-item">
                    <a class="page-link" href="news2679.html?page=1" rel="prev" aria-label="&laquo; Previous">&lsaquo;</a>
                </li>
            
            
                            
                
                
                                                                                        <li class="page-item"><a class="page-link" href="news2679.html?page=1">1</a></li>
                                                                                                <li class="page-item active" aria-current="page"><span class="page-link">2</span></li>
                                                                        
            
                            <li class="page-item disabled" aria-disabled="true" aria-label="Next &raquo;">
                    <span class="page-link" aria-hidden="true">&rsaquo;</span>
                </li>
                    </ul>
    </nav>

        </nav>
    </div>


                    
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

</div>

{% endblock content%}