{% extends "layout.html"%}

{% block content%}

<div class="bgheadproject hidden-xs" style="background: url('https://worldluxproperties.org/storage/general/breadcrumb-background.jpg')">
    <div class="description">
        <div class="container-fluid w90">
            <h1 class="text-center">404 - Not found</h1>
            <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumb-item">
                    <a href="https://worldluxproperties.org" itemprop="item" title="Home">
                        Home
                        <meta itemprop="name" content="Home" />
                    </a>
                    <meta itemprop="position" content="1" />
                </li>
                                                <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    404 - Not found
                    <meta itemprop="name" content="404 - Not found" />
                    <meta itemprop="position" content="2" />
                </li>
                        </ul>

        </div>
    </div>
</div>

<style>
    .error-code {
        color: #22292f;
        font-size: 6rem;
    }

    .error-border {
        background-color: var(--primary-color);
        height: .25rem;
        width: 6rem;
        margin-bottom: 1.5rem;
    }

    .error-page a {
        color: var(--primary-color);
    }

    .error-page ul li {
        margin-bottom : 5px;
    }
</style>
<div class="container padtop50">
    <div class="row">
        <div class="col-sm-12">
            <div class="scontent error-page">
                <div class="error-code">
                    404
                </div>

                <div class="error-border"></div>

                <h4>This may have occurred because of several reasons:</h4>
                <ul>
                    <li>The page you requested does not exist.</li>
                    <li>The link you clicked is no longer.</li>
                    <li>The page may have moved to a new location.</li>
                    <li>An error may have occurred.</li>
                    <li>You are not authorized to view the requested resource.</li>
                </ul>

                <strong>Please try again in a few minutes, or alternatively return to the homepage by <a href="https://worldluxproperties.org">clicking here</a>.</strong>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>


{% endblock content%}