{% extends "layout.html"%}

{% block content%}


<div id="app">
    <div id="ismain-homes">
        <div class="ck-content"><div><section class="main-homes">
    <div
        class="bgheadproject hidden-xs"
        style="background: url('static/storage/general/breadcrumb-background.jpg')"
    >
        <div class="description">
            <div class="container-fluid w90">
                <h1 class="text-center">Discover our projects</h1>
                <p class="text-center">We make the best choices with the hottest and most prestigious projects, please visit the details below to find out more</p>
                <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumb-item">
                    <a href="{{ url_for('main.index') }}" itemprop="item" title="Home">
                        Home
                        <meta itemprop="name" content="Home" />
                    </a>
                    <meta itemprop="position" content="1" />
                </li>
                                                <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    Projects
                    <meta itemprop="name" content="Projects" />
                    <meta itemprop="position" content="2" />
                </li>
                        </ul>

            </div>
        </div>
    </div>
    <div class="container-fluid w90 padtop30">
        <div class="projecthome">
            <form id="frmhomesearch" action="{{ url_for('main.searchproj')}}" data-ajax-url="{{ url_for('main.searchproj')}}" method="POST">
                {{ form.hidden_tag() }}
          
                <div class="search-box">
    <div class="screen-darken"></div>
    <div class="search-box-content">
        <div class="d-md-none bg-primary p-2">
            <span class="text-white">Filter</span>
            <span class="float-right toggle-filter-offcanvas text-white">
                <i class="far fa-times-circle"></i>
            </span>
        </div>
        <div class="search-box-items">
            <div class="row ml-md-0 mr-md-0">
                <div class="col-xl-3 col-lg-2 col-md-4 px-1">
                    <div class="form-group">
    <label for="keyword" class="control-label">Keyword</label>
    <div class="input-has-icon">
        <input type="text" id="keyword" class="form-control" name="searched" value=""
            placeholder="Enter keyword...">
        <i class="far fa-search"></i>
    </div>
</div>
                </div>
              
                <div class="col-lg-2 col-md-4 px-1">


                </div>

                <div class="col-lg-2 col-md-4 px-1">
                   

                    </div>
                    <div class="col-lg-2 col-md-4 px-1">
                       
                    </div>
                                <div class="col-lg-2 col-xl-1 col-md-2 px-1 button-search-wrapper" style="align-self: flex-end;">
                    <div class="btn-group text-center w-100 ">
                        <button type="submit" class="btn btn-primary btn-full">Search</button>
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item" type="reset">Reset filters</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                <div class="row rowm10">
                    <div class="col-md-12">
                        <div class="shop__sort bg-light p-2 round">
    <div class="row">
        <div class="col-toggle-filter col-12 col-xs-2 col-sm-2 d-md-none my-1 pr-sm-1">
            <div class="toggle-filter-offcanvas bg-light toggle-filter-mobile">
                <i class="fal fa-filter mr-1"></i> <span class="toggle-filter-name d-block d-xs-none d-sm-block d-md-block">Filter</span>
            </div>
        </div>
        <div class="col-showing col-6 col-sm-5 col-md-6 my-1">
            <div class="form-group--inline">
                <div class="form-group__content">
                   
                </div>
            </div>
        </div>
        <div class="col-sort-by col-6 col-sm-5 col-md-6 my-1">
            <div class="sort-by-wrap d-flex">
                <div class="form-group--inline">
                    <div class="form-group__content">
                       
                    </div>
                                    </div>
            </div>
        </div>
    </div>
</div>
                        <div class="data-listing mt-2">
                            <div id="loading">
    <div class="half-circle-spinner">
        <div class="circle circle-1"></div>
        <div class="circle circle-2"></div>
    </div>
</div>

<input type="hidden" name="page" data-value="1">
    <div class="row">

        <!--here-->
    {% for proj in project %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 colm10">
                <div class="item">
                <div class="blii">
                    <div class="img"><img class="thumb" data-src="{{url_for('static', filename='img/' + proj.image)}}" src="{{url_for('static', filename='img/' + proj.image)}}" alt="The Avila Apartments">
                    </div>
                    <a href="{{ url_for('posts.single_project',proj_id=proj.id) }}" class="linkdetail"></a>
                    <ul class="item-price-wrap hide-on-list"><li class="h-type"><span>{{ proj.status }}</span></li></ul>
                </div>
            
                <div class="description">
                    <a href="{{ url_for('posts.single_project',proj_id=proj.id) }}"><h5>{{ proj.name }}</h5>
                        <p class="dia_chi"><i class="fas fa-map-marker-alt"></i> {{ proj.location }}</p>
                    </a>
                </div>
            </div>
            </div>
      {% endfor %}
   <!--ends here-->

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 colm10">
    <div class="item">
    <div class="blii">
        <div class="img"><img class="thumb" data-src="https://worldluxproperties.org/storage/images-34-410x270.jpeg" src="static/storage/images-34-410x270.jpg" alt="Aydos Forest Apartments">
        </div>
        <a href="#" class="linkdetail"></a>
        <ul class="item-price-wrap hide-on-list"><li class="h-type"><span>House</span></li></ul>
    </div>

    <div class="description">
        <a href="#"><h5>Aydos Forest Apartments</h5>
            <p class="dia_chi"><i class="fas fa-map-marker-alt"></i> Enugu Nigeria</p>
                    </a>
    </div>
</div>

            </div>
                   
            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<br>
<div class="col-sm-12">
    <nav
        class="d-flex justify-content-center pt-3"
        aria-label="Page navigation example"
    >
        
    </nav>
</div>
<br>
<br>
</div></div>

    </div>
</div>



{% endblock content%}