{% extends "layout.html"%}

{% block content%}


<div id="app">
    <div id="ismain-homes">
        <div class="ck-content"><div><section class="main-homes pb-3">
    <div
        class="bgheadproject hidden-xs"
        style="background: url('static/storage/general/breadcrumb-background.jpg')"
    >
        <div class="description">
            <div class="container-fluid w90">
                <h1 class="text-center">Discover our properties</h1>
                <p class="text-center">Each place is a good choice, it will help you make the right decision, do not miss the opportunity to discover our wonderful properties.</p>
                <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumb-item">
                    <a href="{{ url_for('main.index') }}" itemprop="item" title="Home">
                        Home
                        <meta itemprop="name" content="Home" />
                    </a>
                    <meta itemprop="position" content="1" />
                </li>
                                                <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    Properties
                    <meta itemprop="name" content="Properties" />
                    <meta itemprop="position" content="2" />
                </li>
                        </ul>

            </div>
        </div>
    </div>


    <div class="container-fluid w90 padtop30">
        <div class="projecthome">
            <form id="frmhomesearch" action="{{ url_for('main.searchprop')}}" data-ajax-url="{{ url_for('main.searchprop')}}" method="POST">
                    {{ form.hidden_tag() }}
                <div class="search-box">
    <div class="screen-darken"></div>
    <div class="search-box-content">
        <div class="d-md-none bg-primary p-2">
            <span class="text-white">Filter</span>
            <span class="float-right toggle-filter-offcanvas text-white">
                <i class="far fa-times-circle"></i>
            </span>
        </div>
        <div class="search-box-items">
            <div class="row ml-md-0 mr-md-0">
                <div class="col-xl-3 col-lg-2 col-md-4 px-1">
                    <div class="form-group">
    <label for="keyword" class="control-label">Keyword</label>
    <div class="input-has-icon">
        <input type="text" id="keyword" class="form-control" name="searched" value=""
            placeholder="Enter keyword...">
        <i class="far fa-search"></i>
    </div>
</div>
                </div>
                <div class="col-lg-2 col-md-4 px-1">
                    <div class="form-group" style="position: relative;">
  
</div>

                </div>
                <div class="col-lg-2 col-md-4 px-1">
                    
<div class="dropdown mb-2 select-dropdown" data-text-default="Type, category...">
  
    <div class="dropdown-menu keep-open" style="min-width: 20em" aria-labelledby="dropdownMenuChoise">
                    <div class="dropdown-item">
                <div class="row">
               
                    <div class="col-6 pl-1">
                        <div class="form-group">
    <label for="select-category" class="control-label">Category</label>
   
</div>

                    </div>
                </div>
            </div>
            <div class="dropdown-item">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group project-filter-input" style="position: relative;">
    <input type="hidden" name="project_id">
    <label for="filter-by-project" class="control-label">Project</label>
    <div style="position: relative;">
        <div class="input-has-icon">
         
        </div>
        <div class="spinner-icon">
            <i class="fas fa-spin fa-spinner"></i>
        </div>
        <div class="suggestion">

        </div>
    </div>
</div>

                    </div>
                </div>
            </div>
            <div class="dropdown-item">
                <div class="row">
                    <div class="col-6 pr-1">
                        <div class="form-group">
    <label for="select-bedroom" class="control-label">Bedrooms</label>
    <div class="select--arrow">
        <select name="bedroom" id="select-bedroom" class="form-control">
            <option value="">-- Select --</option>
                            <option value="1" >
                    1 room
                </option>
                            <option value="2" >
                    2 rooms
                </option>
                            <option value="3" >
                    3 rooms
                </option>
                            <option value="4" >
                    4 rooms
                </option>
                        <option value="5" >5+ rooms</option>
        </select>
        <i class="fas fa-angle-down"></i>
    </div>
</div>

                    </div>
                    <div class="col-6 pl-1">
                        <div class="form-group">
    <label for="select-bathroom" class="control-label">Bathrooms</label>
    <div class="select--arrow">
        <select name="bathroom" id="select-bathroom" class="form-control">
            <option value="">-- Select --</option>
                            <option value="1" >
                    1 room
                </option>
                            <option value="2" >
                    2 rooms
                </option>
                            <option value="3" >
                    3 rooms
                </option>
                            <option value="4" >
                    4 rooms
                </option>
                        <option value="5" >5+ rooms</option>
        </select>
        <i class="fas fa-angle-down"></i>
    </div>
</div>
                    </div>
                </div>
            </div>
            <div class="dropdown-item">
                <div class="row">
                    <div class="col-6 pr-1">
                        <div class="form-group">
  
</div>

                    </div>
                </div>
            </div>

            

            <div class="dropdown-item">
                <div class='form-group'>
                    <button class="btn btn-primary">OK</button>
                    <button type="button" class="btn btn-primary bg-secondary float-right btn-clear">Clear</button>
                </div>
            </div>
            </div>
</div>

                </div>






                                    <div class="col-lg-2 col-md-4 px-1 mb-2">
                       
                    </div>
                    <div class="col-lg-2 col-md-4 px-1 mb-2">
                       
                        <div class="dropdown">
                           
                            <div class="dropdown-menu" style="min-width: 20em;" aria-labelledby="dropdownMenuSquare">
                                <div class="dropdown-item">



                                </div>
                            </div>
                        </div>
                    </div>
                                <div class="col-lg-2 col-xl-1 col-md-2 px-1 button-search-wrapper" style="align-self: flex-end;">
                    <div class="btn-group text-center w-100 ">
                        <button type="submit" class="btn btn-primary btn-full">Search</button>
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item" type="reset">Reset filters</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                <div class="row rowm10">
                    <div
                        class=" col-lg-7 left-page-content "
                        id="properties-list"
                         data-class-full="col-lg-12 full-page-content"
                         data-class-left="col-lg-7 left-page-content"                     >
                        <div class="shop__sort bg-light p-2 round">
    <div class="row">
        <div class="col-toggle-filter col-12 col-xs-2 col-sm-2 d-md-none my-1 pr-sm-1">
            <div class="toggle-filter-offcanvas bg-light toggle-filter-mobile">
                <i class="fal fa-filter mr-1"></i> <span class="toggle-filter-name d-block d-xs-none d-sm-block d-md-block">Filter</span>
            </div>
        </div>
        <div class="col-showing col-6 col-sm-5 col-md-6 my-1">
            <div class="form-group--inline">
                <div class="form-group__content">
                    
                </div>
            </div>
        </div>
        <div class="col-sort-by col-6 col-sm-5 col-md-6 my-1">
            <div class="sort-by-wrap d-flex">
                <div class="form-group--inline">
                    <div class="form-group__content">
                        
                    </div>
                                            <div class="change-view ml-2">
                            <i class="fas fa-map-marker-alt view-type-map  active "></i>
                        </div>
                                    </div>
            </div>
        </div>
    </div>
</div>
                        <div class="data-listing mt-2">
                            <div id="loading">
    <div class="half-circle-spinner">
        <div class="circle circle-1"></div>
        <div class="circle circle-2"></div>
    </div>
</div>

<input type="hidden" name="page" data-value="1">
    <div class="row">

        <!--starts here-->
        {% for prop in property %}
    <div class="colm10 property-item" data-lat="" data-long="">
    <div class="item" data-lat="" data-long="">
    <div class="blii">
        <div class="img">
            <img class="thumb"
                data-src="{{url_for('static', filename='img/' + prop.image)}}"
                src="{{url_for('static', filename='img/' + prop.image)}}"
                alt="Passive House, Bratislava V Rusovce, Id: 0265">
        </div>
        <a href="{{ url_for('posts.single_properties',prop_id=prop.id) }}" class="linkdetail"></a>
        <div class="media-count-wrapper">
            <div class="media-count">
                <img src="static/themes/flex-home/images/media-count.svg" alt="media">
                <span>7</span>
            </div>
        </div>
        <div class="status"><span class="label-success status-label">{{ prop.status }} </span></div>
        <ul class="item-price-wrap hide-on-list">
            <li class="h-type"><span title="">House</span></li>
            <li class="item-price"><span title="29,870,198,980₫">₦ {{ prop.price }}</span></li>
        </ul>
    </div>

    <div class="description">
        <a href="#" class="text-orange heart add-to-wishlist" data-id="37"
            title="I care about this property!!!"><i class="far fa-heart"></i></a>
        <a href="{{ url_for('posts.single_properties',prop_id=prop.id) }}">
            <h5> {{ prop.name }}</h5>
            <p class="dia_chi"><i class="fas fa-map-marker-alt">{{ prop.location }}</i> </p>
        </a>
        <p class="threemt bold500">
                            <span original-title="Number of rooms">
                    <i><img src="static/themes/flex-home/images/bed.svg" alt="icon"></i> <i
                        class="vti">4 {{ prop.bedroom }}</i>
                </span>
                                        <span title="Number of rest rooms"> <i><img
                            src="static/themes/flex-home/images/bath.svg" alt="icon"></i> <i
                        class="vti">3 {{ prop.bathroom }}</i></span>
                                    
        </p>
    </div>
</div>
</div>
{% endfor %}
     <!--endshere-->





           
                    <div class="colm10 property-item" data-lat="" data-long="">
                <div class="item" data-lat="" data-long="">
    <div class="blii">
        <div class="img">
            <img class="thumb"
                data-src="static/storage/760x470xc-410x270.webp"
                src="static/storage/760x470xc-410x270.webp"
                alt="Family Villa With Pool, Bratislava Ii Vrakuna Id: 0173">
        </div>
        <a href="#" class="linkdetail"></a>
        <div class="media-count-wrapper">
            <div class="media-count">
                <img src="static/themes/flex-home/images/media-count.svg" alt="media">
                <span>9</span>
            </div>
        </div>
        <div class="status"><span class="label-success status-label">Selling</span></div>
        <ul class="item-price-wrap hide-on-list">
            <li class="h-type"><span title="House">House</span></li>
            <li class="item-price"><span title="34,502,108,143₫">34,502,108,143₫</span></li>
        </ul>
    </div>

    <div class="description">
        <a href="#" class="text-orange heart add-to-wishlist" data-id="35"
            title="I care about this property!!!"><i class="far fa-heart"></i></a>
        <a href="#">
            <h5>Family Villa With Pool, Bratislava Ii Vrakuna Id: 0173</h5>
            <p class="dia_chi"><i class="fas fa-map-marker-alt"></i> </p>
        </a>
        <p class="threemt bold500">
                            <span original-title="Number of rooms">
                    <i><img src="static/themes/flex-home/images/bed.svg" alt="icon"></i> <i
                        class="vti">6</i>
                </span>
                                        <span title="Number of rest rooms"> <i><img
                            src="static/themes/flex-home/images/bath.svg" alt="icon"></i> <i
                        class="vti">3</i></span>
                                    
        </p>
    </div>
</div>

            </div>


                     
                    
                 
                   
                   
                 
                   
                    <div class="colm10 property-item" data-lat="42.601639" data-long="-76.36969">
                <div class="item" data-lat="42.601639" data-long="-76.36969">
    <div class="blii">
        <div class="img">
            <img class="thumb"
                data-src="static/storage/b8a2e17d35d5d6c4aafe8420aacbed3a-410x270.jpg"
                src="static/storage/b8a2e17d35d5d6c4aafe8420aacbed3a-410x270.jpg"
                alt="Thompsons Road House for rent">
        </div>
        <a href="#" class="linkdetail"></a>
        <div class="media-count-wrapper">
            <div class="media-count">
                <img src="static/themes/flex-home/images/media-count.svg" alt="media">
                <span>2</span>
            </div>
        </div>
        <div class="status"><span class="label-success status-label">Renting</span></div>
        <ul class="item-price-wrap hide-on-list">
            <li class="h-type"><span title="Commercial property">Commercial property</span></li>
            <li class="item-price"><span title="34,746,138₫">34,746,138₫</span></li>
        </ul>
    </div>

    <div class="description">
        <a href="#" class="text-orange heart add-to-wishlist" data-id="10"
            title="I care about this property!!!"><i class="far fa-heart"></i></a>
        <a href="#">
            <h5>Thompsons Road House for rent</h5>
            <p class="dia_chi"><i class="fas fa-map-marker-alt"></i> Enugu Nigeria</p>
        </a>
        <p class="threemt bold500">
                            <span original-title="Number of rooms">
                    <i><img src="static/themes/flex-home/images/bed.svg" alt="icon"></i> <i
                        class="vti">3</i>
                </span>
                                        <span title="Number of rest rooms"> <i><img
                            src="static/themes/flex-home/images/bath.svg" alt="icon"></i> <i
                        class="vti">3</i></span>
                                        <span title="Square"> <i><img
                            src="static/themes/flex-home/images/area.svg" alt="icon"></i> <i
                        class="vti">160 m²</i> </span>
                        
        </p>
    </div>
</div>

            </div>


                   
            
            </div>
    <br>

<div class="col-sm-12">
    <nav class="d-flex justify-content-center pt-3" aria-label="Page navigation example">
        <nav>
        <ul class="pagination">
            
                            <li class="page-item disabled" aria-disabled="true" aria-label="&laquo; Previous">
                    <span class="page-link" aria-hidden="true">&lsaquo;</span>
                </li>
            
            
                            
                
                
                                                                                        <li class="page-item active" aria-current="page"><span class="page-link">1</span></li>
                                                                                                <li class="page-item"><a class="page-link" href="properties4658.html?page=2">2</a></li>
                                                                        
            
                            <li class="page-item">
                    <a class="page-link" href="properties4658.html?page=2" rel="next" aria-label="Next &raquo;">&rsaquo;</a>
                </li>
                    </ul>
    </nav>

    </nav>
</div>

                        </div>
                    </div>
                                            <div
                            class="col-md-5 "
                            id="properties-map"
                        >
                            <div class="rightmap h-100">
                                <div
                                    id="map"
                                    data-tile-layer="https://mt0.google.com/vt/lyrs=m&amp;x={x}&amp;y={y}&amp;z={z}&amp;hl=en"
                                    data-type=""
                                    data-url="ajax/properties/map.json"
                                    data-center="[&quot;43.615134&quot;,&quot;-76.393186&quot;]"
                                    data-max-zoom="18"
                                ></div>
                            </div>
                        </div>
                                    </div>
            </form>
        </div>
    </div>
</section>

    <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script id="traffic-popup-map-template" type="text/x-custom-template">
        <div>
    <table width="100%">
        <tr>
            <td width="90">
                <div class="blii"><img src="__image_thumb__" width="80" alt="__name__">
                    <div class="status">__status_html__</div>
                </div>
            </td>
            <td>
                <div class="infomarker">
                    <h5><a href="__url__" target="_blank">__name__</a></h5>
                    <div class="text-info"><strong>__price_html__</strong></div>
                    <div>__city_name__</div>
                    <div>
                        <span>__square_text__</span> &nbsp; &nbsp;
                        <span>
                            <i><img src="https://worldluxproperties.org/themes/flex-home/images/bed.svg" alt="icon"></i>
                            <i class="vti">__number_bedroom__</i></span> &nbsp; &nbsp; <span>
                            <i><img src="https://worldluxproperties.org/themes/flex-home/images/bath.svg" alt="icon"></i>
                            <i class="vti">__number_bathroom__</i>
                        </span>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

    </script>
</div></div>

    </div>
</div>


{% endblock content %}