{% extends "layout.html"%}

{% block content%}


<div id="app">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 auth-form-wrapper">
            <div class="card login-form">
                <div class="card-body">
                    <h4 class="text-center">Register</h4>
                    <br>
                                        <br>
                    <form method="POST" action="https://worldluxproperties.org/register">
                        <input type="hidden" name="_token" value="b8XSHCUVfMLjsbVHhHFwOHXgMOZgN7sJxOa51c3C" autocomplete="off">                        <div class="form-group">
                            <input id="first_name" type="text"
                                   class="form-control"
                                   name="first_name" value="" required autofocus
                                   placeholder="First name">
                                                    </div>
                        <div class="form-group">
                            <input id="last_name" type="text"
                                   class="form-control"
                                   name="last_name" value="" required
                                   placeholder="Last name">
                                                    </div>
                        <div class="form-group">
                            <input id="username" type="text"
                                   class="form-control"
                                   name="username" value="" required
                                   placeholder="Username">
                                                    </div>
                        <div class="form-group">
                            <input id="email" type="email"
                                   class="form-control"
                                   name="email" value="" required
                                   placeholder="Email">
                                                    </div>
                        <div class="form-group mb-3">
                            <input id="phone" type="text"
                                   class="form-control"
                                   name="phone" value="" required
                                   placeholder="Phone">
                                                    </div>

                        <div class="form-group">
                            <input id="password" type="password"
                                   class="form-control"
                                   name="password" required
                                   placeholder="Password">
                                                    </div>

                        <div class="form-group">
                            <input id="password-confirm" type="password" class="form-control"
                                   name="password_confirmation" required
                                   placeholder="Confirm Password">
                        </div>

                        
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-full fw6">
                                Register
                            </button>
                        </div>

                        <div class="form-group text-center">
                            <p>Have an account already? <a href="{{ url_for('users.login') }}" class="d-block d-sm-inline-block text-sm-left text-center">Login</a></p>
                        </div>

                        <div class="text-center">
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


{% endblock content%}