{% extends "layout.html"%}

{% block content%}


<div id="app">
    <section class="main-homes">
    <div
        class="bgheadproject hidden-xs"
        style="background: url('../static/storage/general/breadcrumb-background.jpg')"
    >
        <div class="description">
            <div class="container-fluid w90">
                <h1 class="text-center">{{ post.name }}</h1>
                <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumb-item">
                    <a href="{{ url_for('main.index') }}" itemprop="item" title="Home">
                        Home
                        <meta itemprop="name" content="Home" />
                    </a>
                    <meta itemprop="position" content="1" />
                </li>
                                                <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                                    {{ post.email }}
                    <meta itemprop="name" content="Marjorie Mann" />
                    <meta itemprop="position" content="2" />
                </li>
                        </ul>

            </div>
        </div>
    </div>


    <div class="container-fluid w90 padtop30">
        <div class="rowm10">
            <h5 class="headifhouse">Agent info</h5>

            <div class="agent-details">
                <div>
                    <a href="abbottharmony.html">
                       <img class="img-thumbnail" src="{{url_for('static', filename='img/' + post.image)}}" alt="{{post.name}}" width="250" height="100">
                    </a>
                    </div>
                <div>
                    <h4>{{ post.name }}</h4>
                                            <p><strong class="d-inline-block">Email</strong>: <span dir="ltr"><a href="mailto:{{ post.email }}"><span class="" data-cfemail="32585d5a5c1c415f5b465a72505d46505e571c515d5f">{{ post.email }}</span></a></span></p>
                    <p class="mobile"><strong class="d-inline-block">Phone</strong>: <span
                                dir="ltr"
                            ><a href="tel:{{ post.phone }}">{{ post.phone }}</a></span></p>
                                        <p><strong class="d-inline-block">Joined on</strong>: <span
                            class="d-inline-block">{{ post.date_created.strftime('%d-%m-%Y')}}</span></p>
                </div>
                <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>

            

            <br>

                           <!-- <h5 class="headifhouse">Properties by this agent</h5>-->
               
    

  

</div>

                            </div>
                                            </div>
                </div>
                    </div>
    </div>
</section>
<br>
<div class="col-sm-12">
    <nav
        class="d-flex justify-content-center pt-3"
        aria-label="Page navigation example"
    >
        
    </nav>
</div>
<br>
<br>

</div>


{% endblock content%}