{% extends "layout.html"%}

{% block content%}


<div id="app">
    <main class="detailproject">
    <div class="boxsliderdetail">
        <div class="slidetop">
            <div class="owl-carousel" id="listcarousel">
                                    <div class="item">
                        <img src="{{url_for('static', filename='img/' + proj.image)}}"
                            class="showfullimg"
                            rel="0"
                            alt="{{proj.name}}"
                            title="{{proj.name}}"
                            data-mfp-src="{{url_for('static', filename='img/' + proj.image)}}" >
                    </div>
                                    <div class="item">
                        <img src="{{url_for('static', filename='img/' + proj.image3)}}"
                            class="showfullimg"
                            rel="1"
                            alt="{{proj.name}}"
                            title="{{proj.name}}"
                            data-mfp-src="{{url_for('static', filename='img/' + proj.image3)}}">
                    </div>
                                    <div class="item">
                        <img src="{{url_for('static', filename='img/' + proj.image5)}}"
                            class="showfullimg"
                            rel="2"
                            alt="{{proj.name}}"
                            title="{{proj.name}}"
                            data-mfp-src="{{url_for('static', filename='img/' + proj.image5)}}">
                    </div>
                                    <div class="item">
                        <img src="{{url_for('static', filename='img/' + proj.image2)}}"
                            class="showfullimg"
                            rel="3"
                            alt="{{proj.name}}"
                            title="{{proj.name}}"
                            data-mfp-src="{{url_for('static', filename='img/' + proj.image2)}}">
                    </div>
                                    <div class="item">
                        <img src="{{url_for('static', filename='img/' + proj.image4)}}"
                            class="showfullimg"
                            rel="4"
                            alt="{{proj.name}}"
                            title="{{proj.name}}"
                            data-mfp-src="{{url_for('static', filename='img/' + proj.image4)}}">
                    </div>
                                    <div class="item">
                        <img src="{{url_for('static', filename='img/' + proj.image3)}}"
                            class="showfullimg"
                            rel="5"
                            alt="{{proj.name}}"
                            title="{{proj.name}}"
                            data-mfp-src="{{url_for('static', filename='img/' + proj.image3)}}">
                    </div>
                                    <div class="item">
                        <img src="{{url_for('static', filename='img/' + proj.image2)}}"
                            class="showfullimg"
                            rel="6"
                            alt="{{proj.name}}"
                            title="{{proj.name}}"
                            data-mfp-src="{{url_for('static', filename='img/' + proj.image2)}}">
                    </div>
                            </div>
        </div>
        <div class="slidebot">
            <div class="row">
                <div class="col-6 col-md-7 col-sm-6">
                    <div>
                        <div class="owl-carousel" id="listcarouselthumb">
                                                            <div class="item cthumb" rel="0">
                                    <img src="{{url_for('static', filename='img/' + proj.image)}}"
                                        class="showfullimg"
                                        rel="0"
                                        alt="{{proj.name}}"
                                        data-mfp-src="{{url_for('static', filename='img/' + proj.image)}}"
                                        title="{{proj.name}}">
                                </div>
                                                            <div class="item cthumb" rel="1">
                                    <img src="{{url_for('static', filename='img/' + proj.image5)}}"
                                        class="showfullimg"
                                        rel="1"
                                        alt="{{proj.name}}"
                                        data-mfp-src="{{url_for('static', filename='img/' + proj.image5)}}"
                                        title="{{proj.name}}">
                                </div>
                                                            <div class="item cthumb" rel="2">
                                    <img src="{{url_for('static', filename='img/' + proj.image4)}}"
                                        class="showfullimg"
                                        rel="2"
                                        alt="{{proj.name}}"
                                        data-mfp-src="{{url_for('static', filename='img/' + proj.image4)}}"
                                        title="{{proj.name}}">
                                </div>
                                                            <div class="item cthumb" rel="3">
                                    <img src="{{url_for('static', filename='img/' + proj.image2)}}"
                                        class="showfullimg"
                                        rel="3"
                                        alt="{{proj.name}}"
                                        data-mfp-src="{{url_for('static', filename='img/' + proj.image2)}}"
                                        title="{{proj.name}}">
                                </div>
                                                            <div class="item cthumb" rel="4">
                                    <img src="{{url_for('static', filename='img/' + proj.image3)}}"
                                        class="showfullimg"
                                        rel="4"
                                        alt="{{proj.name}}"
                                        data-mfp-src="{{url_for('static', filename='img/' + proj.image3)}}"
                                        title="{{proj.name}}">
                                </div>
                                                            <div class="item cthumb" rel="5">
                                    <img src="{{url_for('static', filename='img/' + proj.image4)}}"
                                        class="showfullimg"
                                        rel="5"
                                        alt="{{proj.name}}"
                                        data-mfp-src="{{url_for('static', filename='img/' + proj.image4)}}"
                                        title="{{proj.name}}">
                                </div>
                                                            <div class="item cthumb" rel="6">
                                    <img src="{{url_for('static', filename='img/' + proj.image5)}}"
                                        class="showfullimg"
                                        rel="6"
                                        alt="{{proj.name}}"
                                        data-mfp-src="{{url_for('static', filename='img/' + proj.image5)}}"
                                        title="{{proj.name}}">
                                </div>
                                                    </div>
                        <i class="fas fa-chevron-right ar-next"></i>
                        <i class="fas fa-chevron-left ar-prev"></i>
                    </div>
                </div>
                <div class="col-6 col-md-5 col-sm-6" style="align-self: center">
                    <div class="row control justify-content-sm-end justify-content-center">
                                                    <div class="col-6 col-sm-4 col-md-4 col-lg-2 itemct px-1 popup-youtube" href="#">
                                <div class="icon">
                                    <i class="fab fa-youtube"></i>
                                    <p>Youtube</p>
                                </div>
                            </div>
                        
                        <div class="col-sm-4 col-md-4 col-lg-2 itemct d-none d-sm-block px-1 show-gallery-image">
                            <div class="icon">
                                <i class="fas fa-th"></i>
                                <p>Gallery</p>
                            </div>
                        </div>

                                                    <div class="col-6 col-sm-4 col-md-4 col-lg-2 itemct px-1"
                                data-magnific-popup="#trafficMap"
                                data-map-id="trafficMap"
                                 data-tile-layer="https://mt0.google.com/vt/lyrs=m&amp;x={x}&amp;y={y}&amp;z={z}&amp;hl=en"
                                data-popup-id="#traffic-popup-map-template"
                                data-map-icon="The Avila Apartments"
                                data-center="[&quot;43.481307&quot;,&quot;-74.862851&quot;]">
                                <div class="icon">
                                    <i class="far fa-map"></i>
                                    <p>Map</p>
                                </div>
                            </div>
                                            </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bgmenupro">
        <div
            class="container-fluid w90 padtop30"
            style="padding: 15px 0;"
        >
            <div class="col-12">
                <h1
                    class="title"
                    style="font-size: 1.5rem; font-weight: bold; margin-bottom: 0;"
                >{{proj.name}}</h1>
                                    <p style="margin-bottom: 5px;"><span class="rating-star">
            <span class="rating-star-item" style="width: 53.334%"></span>
        </span>
                    <span class="inline-block text-sm">(6)</span>
                </p>
                                <p class="addresshouse">
                                            <span
                            class="d-inline-block"
                            style="margin-right: 10px"
                        >
                            <i class="fas fa-map-marker-alt"></i> {{proj.location}}
                        </span>
                                                                <span
                            class="d-inline-block"
                            style="margin-right: 10px"
                        ><i class="fa fa-eye"></i> 7,081 views</span>
                                        <span class="d-inline-block"><i class="fa fa-calendar-alt"></i>
                                            {{ proj.date_created.strftime('%d-%m-%Y')}}</span>
                </p>
                <div class="d-none">
                    <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="#" class="breadcrumb-item">
                    <a href="{{ url_for('main.index') }}" itemprop="item" title="Home">
                        Home
                        <meta itemprop="name" content="Home" />
                    </a>
                    <meta itemprop="position" content="1" />
                </li>
                                                <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="#" class="breadcrumb-item">
                    <a href="../projects.html" itemprop="item" title="Projects">
                        Projects
                        <meta itemprop="name" content="Projects" />
                    </a>
                    <meta itemprop="position" content="2" />
                </li>
                                                <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="#">
                    {{proj.name}}
                    <meta itemprop="name" content="The Avila Apartments" />
                    <meta itemprop="position" content="3" />
                </li>
                        </ul>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid w90 padtop30 single-post">
        <section class="general">
            <div class="row">
                <div class="col-md-8">
                    

                    <div class="head">Overview</div>
                    <span class="line_title"></span>
                    <div class="row">
                        <div class="col-sm-6 lineheight220">
                            <div><span>Status:&nbsp;</span> <span class="label-success status-label">{{proj.status}}</span></div>
                                <div><span>Category:&nbsp;</span>
                                    <strong>{{proj.type}}</strong>
                                </div>
                            <div><span>Number of blocks:&nbsp;</span>
                                    <b>{{proj.blocks}}</b></div>
                            </div>
                        <div class="col-sm-6 lineheight220">
                                                           
                                                                                        <div><span>Number of floors:&nbsp;</span>
                                    <b>4{{proj.floors}}</b></div>
                                                                                        <div><span>Number of flats:&nbsp;</span>
                                    <b>{{proj.flats}}</b></div>
                                                    </div>
                                            </div>

                    <div class="head">Description</div>
                                            <div class="ck-content">
                            <p>{{proj.description}}</p>
                            
                            <h4> <strong>Why you should buy a house from this project?</strong></h4>
                            
                            <ul>
                                <li>1. Within the historical peninsula, there is a very special area where you will never find a similar one.</li>
                                <li>2. Unique sea view with a historical texture of Istanbul.</li>
                                <li>3. In the bustling city life, in the middle of all transportation possibilities.</li>
                                <li>4. 1+1 to 6+1 very special, suitable for all needs loft apartments</li>
                                <li>5.Large landscaping areas, cafes, shopping opportunities.</li>
                            </ul>
                        </div>
                                                            <br>
                                        <br>
                                            <div id="zxcvbnm">
    <h5 class="headifhouse">Location</h5>
     <p class="d-print-none">{{proj.location}}</p>     
</div>
 </div>




     
 </div>


                 </div>
            </div>
        </section>

    </div>
</main>

<script data-cfasync="false" src="static/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script id="traffic-popup-map-template" type="text/x-custom-template">
    <div>
    <table width="100%">
        <tr>
            <td width="90">
                <div class="blii">
                    <img src="static/storage/projects/760xxsxm-1.webp" width="80" alt="The Avila Apartments">
                </div>
            </td>
            <td>
                <div class="infomarker">
                    <h5><a href="https://worldluxproperties.org/projects/park" target="_blank">The Avila Apartments</a></h5>
                    <div class="text-info"><strong>Villa</strong></div>
                    <div><i class="fas fa-map-marker-alt"></i> San Francisco</div>
                </div>
            </td>
        </tr>
    </table>
</div>

</script>

</div>

{% endblock content%}