{% extends "layout.html"%}

{% block content%}


<div id="app">
    <div class="bgheadproject hidden-xs" style="background: url('../static/storage/general/breadcrumb-background.jpg')">
    <div class="description">
        <div class="container-fluid w90">
            <h1 class="text-center">{{ new.title}}</h1>
            <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumb-item">
                    <a href="{{ url_for('main.index') }}" itemprop="item" title="Home">
                        Home
                        <meta itemprop="name" content="Home" />
                    </a>
                    <meta itemprop="position" content="1" />
                </li>
                                                <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumb-item">
                    <a href="category-news.html" itemprop="item" title="News">
                        News
                        <meta itemprop="name" content="News" />
                    </a>
                    <meta itemprop="position" content="2" />
                </li>
                                                <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    {{new.title}}
                    <meta itemprop="name" content="4 Expert Tips On How To Choose The Right Men’s Wallet" />
                    <meta itemprop="position" content="3" />
                </li>
                        </ul>

        </div>
    </div>
</div>

<div class="container padtop50">
    <div class="row">
        <div class="col-sm-9">
            <div class="post-meta">
    <p class="d-inline-block"><i class="fa fa-calendar"></i> {{ new.date_created.strftime('%d-%m-%Y')}} in             <a href="#">News</a>
                    </p>
    - <p class="d-inline-block"><i class="fa fa-eye"></i> 688</p>
</div>

            <div class="scontent">
                

                <div class="ck-content">
                    <p></p><p class="text-center"><img src="{{url_for('static', filename='img/' + new.image)}}" alt="{{new.title}}"></p>
                    <p> {{ new.description }}" </p>
                    
                </div>
                <div class="facebook-comment">
    <div class="fb-comments" data-href="https://worldluxproperties.org/news/4-expert-tips-on-how-to-choose-the-right-mens-wallet" data-numposts="5" data-width="100%"></div>
</div>


                

                                    <div class="ps-tags">
                        
                    </div>
                                <br>
                <div class="socials mb-3 pb-2 border-bottom w-100">
    <span>Follow Our handles:</span>
    <ul>
        <li>
            <a href="#" target="_blank" title="Share on Facebook"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li>
            <a href="#" title="Share on Linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </li>
        <li>
            <a href="#" target="_blank" title="Share on Twitter"><i class="fab fa-twitter"></i></a>
        </li>
    </ul>
</div>

            </div>
            <div class="clearfix"></div>
            
                            <br>
                
                <div class="blog-container">
                    <div class="row">
                                                    <div class="col-md-6 col-sm-6 container-grid">
                                




                            </div>
                                            </div>
                </div>
                    </div>
        <div class="col-sm-3">
            <div class="boxright">
        <h5>Categories</h5>
        <ul class="listnews">
                            <li><a href="{{ url_for('main.projects') }}" class="text-dark">Projects</a></li>
                            <li><a href="{{ url_for('main.news') }}" class="text-dark">News</a></li>
                            <li><a href="{{ url_for('main.agents') }}" class="text-dark">Agents</a></li>
                            <li><a href="{{ url_for('main.news') }}" class="text-dark">Building materials</a></li>
                            <li><a href="{{ url_for('main.properties') }}" class="text-dark">Properties</a></li>
                            <li><a href="{{ url_for('main.news') }}" class="text-dark">House design</a></li>
                            
                            <li><a href="{{ url_for('main.news') }}" class="text-dark">House architecture</a></li>
                    </ul>
    </div>
<h5 class="padtop40 titlenewnews">Recent posts</h5>


{% for new in news %}
            <div class="mb-4 w-100 float-left lastestnews">
            <a href="{{ url_for('main.news') }}" class="text-dark">
                <img class="img-thumbnail float-left mr-2" data-src="{{url_for('static', filename='img/' + new.image)}}" src="{{url_for('static', filename='img/' + new.image)}}" width="90" alt="BCG sets great store by real estate negotiations">
                {{new.title}}
            </a>
        </div>
{% endfor %}
           
          
            
    
        </div>
    </div>
</div>
<br>
<br>

</div>


{% endblock content%}