{% extends "layout.html"%}

{% block content%}


<div id="app">
    <section class="main-homes wishlist-page">
    <div
        class="bgheadproject hidden-xs"
        style="background: url('storage/general/breadcrumb-background.jpg')"
    >
        <div class="description">
            <div class="container-fluid w90">
                <h1 class="text-center">Wishlist</h1>
                <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumb-item">
                    <a href="{{ url_for('main.index') }}" itemprop="item" title="Home">
                        Home
                        <meta itemprop="name" content="Home" />
                    </a>
                    <meta itemprop="position" content="1" />
                </li>
                                                <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    Wishlist
                    <meta itemprop="name" content="Wishlist" />
                    <meta itemprop="position" content="2" />
                </li>
                        </ul>

            </div>
        </div>
    </div>
    <div class="container-fluid w90 padtop30">
        <div class="projecthome">
            <div class="row rowm10">
                                    <div
                        class="alert alert-warning w-100"
                        role="alert"
                    >
                        0 results
                    </div>
                            </div>
        </div>
</section>
<br>

<br>
<br>

</div>

{% endblock content%}